<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>IDS_BTN_ADD-ANOTHER-ITEM</key>
    <string>他の用件も連絡する</string>
    <key>IDS_BTN_ADD-BILLING-ADDRESS_A</key>
    <string>請求先住所の追加</string>
    <key>IDS_BTN_ADD-BOTH-TO-CART</key>
    <string>カートに両方を追加</string>
    <key>IDS_BTN_ADD-FOLDER-TO-CART</key>
    <string>カートにフォルダーを入れる</string>
    <key>IDS_BTN_ADD-NEW-FOLDER_A</key>
    <string>新しいフォルダーを追加</string>
    <key>IDS_BTN_ADD-PAYMENT-METHOD_A</key>
    <string>支払い方法を追加</string>
    <key>IDS_BTN_ADD-PERSONAL-INFORMATION_A</key>
    <string>個人情報を入力</string>
    <key>IDS_BTN_ADD-PHOTO</key>
    <string>写真を加える</string>
    <key>IDS_BTN_ADD-REWARDS-ADDRESS_A</key>
    <string>紹介プログラム住所を追加する</string>
    <key>IDS_BTN_ADD-SHIPPING-ADDRESS_A</key>
    <string>配送先住所の追加</string>
    <key>IDS_BTN_ADD-TO-CART</key>
    <string>カートに追加する</string>
    <key>IDS_BTN_ADD-TO-WISH-LIST</key>
    <string>ウィッシュリストへ追加</string>
    <key>IDS_BTN_APP-DEMO_A</key>
    <string>アプリのデモを見る</string>
    <key>IDS_BTN_APPLY</key>
    <string>利用する</string>
    <key>IDS_BTN_APPLY-CODE</key>
    <string>コードを適用</string>
    <key>IDS_BTN_CALCULATE</key>
    <string>計算する</string>
    <key>IDS_BTN_CANCEL</key>
    <string>キャンセル</string>
    <key>IDS_BTN_CHOOSE-EXISTING-PHOTO</key>
    <string>すでにある写真から選ぶ</string>
    <key>IDS_BTN_CLEAR-CACHE</key>
    <string>キャッシュをクリアする</string>
    <key>IDS_BTN_CLEAR_A</key>
    <string>履歴を消す</string>
    <key>IDS_BTN_COMBINE-BOTH-CARTS</key>
    <string>両方のカートの商品を併せる</string>
    <key>IDS_BTN_COMPLETE-PAYMENT</key>
    <string>支払いを完済する</string>
    <key>IDS_BTN_CONTINUE</key>
    <string>続ける</string>
    <key>IDS_BTN_CONTINUE-TO-APP</key>
    <string>アプリを続ける</string>
    <key>IDS_BTN_COPY-TO-WISH-LIST_A</key>
    <string>ウィッシュリストにコピーする</string>
    <key>IDS_BTN_CREATE-ACCOUNT</key>
    <string>アカウントを作成</string>
    <key>IDS_BTN_CREATE-NEW-SAVED-SEARCH_A</key>
    <string>新しく保存するための検索条件を設定する</string>
    <key>IDS_BTN_CUSTOMIZABLE-HOMEPAGE_A</key>
    <string>カスタマイズできるホームページ</string>
    <key>IDS_BTN_DELETE-REVIEW</key>
    <string>レビューを削除する</string>
    <key>IDS_BTN_DISMISS</key>
    <string>閉じる</string>
    <key>IDS_BTN_DONE</key>
    <string>終了</string>
    <key>IDS_BTN_EDIT</key>
    <string>編集</string>
    <key>IDS_BTN_ENTER-CODES</key>
    <string>コードを入力</string>
    <key>IDS_BTN_FORGOT-PASSWORD</key>
    <string>パスワードを忘れました</string>
    <key>IDS_BTN_HELPFUL_A</key>
    <string>役に立った</string>
    <key>IDS_BTN_MAKE-DEFAULT</key>
    <string>既定値に設定</string>
    <key>IDS_BTN_NO</key>
    <string>いいえ</string>
    <key>IDS_BTN_OK</key>
    <string>OK</string>
    <key>IDS_BTN_REFINE_A</key>
    <string>絞り込み検索</string>
    <key>IDS_BTN_REMOVE</key>
    <string>削除</string>
    <key>IDS_BTN_REMOVE-ALL-ITEMS</key>
    <string>全商品を削除</string>
    <key>IDS_BTN_REPORT-ABUSE</key>
    <string>不正利用の報告</string>
    <key>IDS_BTN_RESET_A</key>
    <string>リセット</string>
    <key>IDS_BTN_SAVE</key>
    <string>保存</string>
    <key>IDS_BTN_SAVE-AND-CONTINUE</key>
    <string>保存して続行</string>
    <key>IDS_BTN_SAVE-CART-TO-WISHLIST</key>
    <string>これらの商品をウィッシュリストへ移す</string>
    <key>IDS_BTN_SAVE-CHANGES_A</key>
    <string>変更の保存</string>
    <key>IDS_BTN_SAVE-SEARCH_A</key>
    <string>検索条件を保存</string>
    <key>IDS_BTN_SEE-ALL-REVIEWS</key>
    <string>全部のレビューを見る</string>
    <key>IDS_BTN_SKIP-SIGN-IN</key>
    <string>後でサインインする</string>
    <key>IDS_BTN_SKIP-VERIFICATION</key>
    <string>検証をスキップ</string>
    <key>IDS_BTN_SUBMIT-REVIEW</key>
    <string>レビューを送る</string>
    <key>IDS_BTN_TAKE-PHOTO</key>
    <string>写真を撮る</string>
    <key>IDS_BTN_TAP-TO-EXIT-HOMEPAGE-EDIT-MODE</key>
    <string>ホームページ編集モードを終了するにはここをタップ</string>
    <key>IDS_BTN_USE-CURRENT-CART</key>
    <string>現在のカートにある商品を注文する</string>
    <key>IDS_BTN_USE-PREVIOUS-CART</key>
    <string>以前に選んだこちらの商品を注文する</string>
    <key>IDS_BTN_YES</key>
    <string>はい</string>
    <key>IDS_ERR_ADD-A-CREDIT-CARD</key>
    <string>ご購入手続きへ進み、クレジットカード情報を入力してください。</string>
    <key>IDS_ERR_ADDRESS-LINE1-REQUIRED</key>
    <string>住所１を入力してください。</string>
    <key>IDS_ERR_ADDRESS-LINE2-REQUIRED</key>
    <string>住所の2行目を入力して下さい。</string>
    <key>IDS_ERR_BAD-REQUEST</key>
    <string>問題が発生したために、要請を完了できませんでした。</string>
    <key>IDS_ERR_CITY-REQUIRED</key>
    <string>市の入力が必要です。</string>
    <key>IDS_ERR_CONFIRM-PASSWORD-REQUIRED</key>
    <string>パスワードの確認が必要です。</string>
    <key>IDS_ERR_CONSIGNEE-NAME-REQUIRED</key>
    <string>荷受人の名前が必要です。</string>
    <key>IDS_ERR_COUNTRY-REQUIRED</key>
    <string>国の名前が必要です</string>
    <key>IDS_ERR_EMAIL-ADDRESS-REQUIRED</key>
    <string>メールアドレスが必要です。</string>
    <key>IDS_ERR_FIELDS-MISSING-IN-FORM</key>
    <string>1つかそれ以上の必要事項が欠落しています。もう一度入力したものを見直し、やり直してください。</string>
    <key>IDS_ERR_FOLDER-ALREADY-EXISTS</key>
    <string>フォルダーはすでに存在しています。</string>
    <key>IDS_ERR_FULL-NAME-REQUIRED</key>
    <string>姓と名の完全な名前が必要です。</string>
    <key>IDS_ERR_IMAGE-ATTACHMENTS-TOO-BIG</key>
    <string>添付された画像サイズが大きすぎます。</string>
    <key>IDS_ERR_ISSUE-TYPE-REQUIRED</key>
    <string>どの項目に該当するかを選ぶ必要があります。</string>
    <key>IDS_ERR_LOGIN-FAILED</key>
    <string>何かの理由でログインできませんでした。カスタマーサービスに連絡するか、後でもう一度お試しください。</string>
    <key>IDS_ERR_LOGIN-TO-CUSTOMIZE-HOMEPAGE_A</key>
    <string>ログインした後、ホームページをカスタマイズしてください。</string>
    <key>IDS_ERR_NEW-PASSWORD-REQUIRED</key>
    <string>新しいパスワードが必要です。</string>
    <key>IDS_ERR_OLD-PASSWORD-REQUIRED</key>
    <string>古いパスワードが必要です。</string>
    <key>IDS_ERR_ORDER-NUMBER-REQUIRED</key>
    <string>注文番号が必要です。</string>
    <key>IDS_ERR_PASSWORD-REQUIRED</key>
    <string>パスワードが必要です。</string>
    <key>IDS_ERR_PHONE-NUMBER-REQUIRED</key>
    <string>正しい電話番号が必要です。</string>
    <key>IDS_ERR_POSTAL-REQUIRED</key>
    <string>郵便番号が必要です。</string>
    <key>IDS_ERR_PRODUCT-REQUIRED</key>
    <string>製品を選んで下さい。</string>
    <key>IDS_ERR_REASON-REQUIRED</key>
    <string>理由が必要になります。</string>
    <key>IDS_ERR_REVIEW-IS-REQUIRED</key>
    <string>レビューが必要です。</string>
    <key>IDS_ERR_REVIEW-TITLE-REQUIRED</key>
    <string>レビューのタイトルが必要です。</string>
    <key>IDS_ERR_REWARDS-CODE-IS-REQUIRED</key>
    <string>紹介コードを入力して下さい。</string>
    <key>IDS_ERR_STATE-PROVINCE-REGION-REQUIRED</key>
    <string>州/県/区が必要です。</string>
    <key>IDS_ERR_STATE-REQUIRED</key>
    <string>都道府県が必要です。</string>
    <key>IDS_ERR_SUBURB-REQUIRED</key>
    <string>地区を入力して下さい。</string>
    <key>IDS_ERR_TRY-AGAIN-LATER</key>
    <string>後ほどやり直しをしてください。もし引き続き問題があるようでしたら、カスタマーサービスへご連絡ください。</string>
    <key>IDS_ERR_ZIP-POSTAL-REQUIRED</key>
    <string>郵便番号が必要です。</string>
    <key>IDS_GEN_CART</key>
    <string>カート</string>
    <key>IDS_GEN_CHANGE-PASSWORD</key>
    <string>パスワードの変更</string>
    <key>IDS_GEN_DISCLAIMER</key>
    <string>免責事項</string>
    <key>IDS_GEN_EXPIRATION-DATE</key>
    <string>使用期限</string>
    <key>IDS_GEN_HEALTH-TOPICS</key>
    <string>健康に関するトピック</string>
    <key>IDS_GEN_HOME</key>
    <string>ホームページ</string>
    <key>IDS_GEN_INTERNATIONAL</key>
    <string>国際</string>
    <key>IDS_GEN_MODIFY-ORDER</key>
    <string>注文の変更</string>
    <key>IDS_GEN_MODIFY-ORDER-ITEMS</key>
    <string>注文した商品の変更</string>
    <key>IDS_GEN_MODIFY-SHIPPING-ADDRESS</key>
    <string>配送先住所の変更</string>
    <key>IDS_GEN_MODIFY-SHIPPING-METHOD_A</key>
    <string>配送方法を修正する</string>
    <key>IDS_GEN_MY-IHERB-PAGE</key>
    <string>私のiHerb ページ</string>
    <key>IDS_GEN_NOTIFICATION-LIST</key>
    <string>通知希望リスト</string>
    <key>IDS_GEN_NOTIFY-ME</key>
    <string>通知希望</string>
    <key>IDS_GEN_ORDER-HISTORY</key>
    <string>注文履歴</string>
    <key>IDS_GEN_ORDER-SUMMARY</key>
    <string>注文概要</string>
    <key>IDS_GEN_PERSONAL-INFORMATION</key>
    <string>個人情報</string>
    <key>IDS_GEN_PRIVACY-POLICY</key>
    <string>プライバシー ポリシー</string>
    <key>IDS_GEN_RELATED-PRODUCTS</key>
    <string>関連商品</string>
    <key>IDS_GEN_REORDER</key>
    <string>再注文</string>
    <key>IDS_GEN_RESET-PASSWORD</key>
    <string>パスワードのリセット</string>
    <key>IDS_GEN_REWARDS</key>
    <string>ストアクレジット</string>
    <key>IDS_GEN_SEARCH</key>
    <string>検索</string>
    <key>IDS_GEN_SETTINGS_A</key>
    <string>設定</string>
    <key>IDS_GEN_SHARE-YOUR-CART</key>
    <string>選択商品のシェア</string>
    <key>IDS_GEN_SHIPPING-CALCULATOR</key>
    <string>送料計算</string>
    <key>IDS_GEN_SHIPPING-INFORMATION</key>
    <string>配送について</string>
    <key>IDS_GEN_SHIPPING-WEIGHT-COLON</key>
    <string>出荷重量:</string>
    <key>IDS_GEN_SHIPPING-WEIGHT_A</key>
    <string>出荷重量</string>
    <key>IDS_GEN_SIGN-IN</key>
    <string>サインイン</string>
    <key>IDS_GEN_TERMS-AND-CONDITIONS</key>
    <string>規約と条件</string>
    <key>IDS_GEN_WISHLIST</key>
    <string>ウィッシュリスト</string>
    <key>IDS_GEN_WRITE-A-REVIEW</key>
    <string>レビューを書く</string>
    <key>IDS_HDR_ALL-CATEGORIES</key>
    <string>すべてのカテゴリ</string>
    <key>IDS_HDR_BENEFITS-SHOPPING-WITH-IHERB</key>
    <string>iHerb で買い物をする利点</string>
    <key>IDS_HDR_PASSWORD-RESET</key>
    <string>パスワードのリセット</string>
    <key>IDS_HDR_PRODUCT-OVERVIEW</key>
    <string>商品の概要</string>
    <key>IDS_LBL-MENU</key>
    <string>メニュー</string>
    <key>IDS_LBL_ABOUT-IHERB</key>
    <string>iHerbについて</string>
    <key>IDS_LBL_ACCOUNT-NOTIFICATIONS</key>
    <string>アカウントの通知</string>
    <key>IDS_LBL_ACCOUNT-NUMBER_A</key>
    <string>アカウント番号</string>
    <key>IDS_LBL_ADD-NEW-BILLING-ADDRESS_A</key>
    <string>新しい請求先住所の追加</string>
    <key>IDS_LBL_ADD-NEW-SHIPPING-ADDRESS_A</key>
    <string>新しい配送先住所の追加</string>
    <key>IDS_LBL_ADDRESS-1-AUSTRALIA</key>
    <string>番地、私書箱、会社名、様方</string>
    <key>IDS_LBL_ADDRESS-2-AUSTRALIA</key>
    <string>アパート、部屋番号、棟、ビル、階など</string>
    <key>IDS_LBL_ADDRESS-LINE1</key>
    <string>住所 1</string>
    <key>IDS_LBL_ADDRESS-LINE2</key>
    <string>住所 2</string>
    <key>IDS_LBL_ADDRESS-VERIFICATION</key>
    <string>住所の確認</string>
    <key>IDS_LBL_ALSO-CREATE-BILLING-ADDRESS_A</key>
    <string>また、請求先住所も作成する</string>
    <key>IDS_LBL_ALSO-CREATE-SHIPPING-ADDRESS_A</key>
    <string>また、配送先住所も作成する</string>
    <key>IDS_LBL_AROMATHERAPY</key>
    <string>アロマセラピー</string>
    <key>IDS_LBL_AVAILABLE-COLON</key>
    <string>利用可能額:</string>
    <key>IDS_LBL_BATH-AND-BEAUTY</key>
    <string>入浴</string>
    <key>IDS_LBL_BEST-RATING</key>
    <string>最高の評価</string>
    <key>IDS_LBL_BEST-SELLERS</key>
    <string>ベストセラー</string>
    <key>IDS_LBL_BEST-SELLING</key>
    <string>一番人気の商品</string>
    <key>IDS_LBL_BILLING-ADDRESS</key>
    <string>請求先住所</string>
    <key>IDS_LBL_BRANDS</key>
    <string>ブランド</string>
    <key>IDS_LBL_CACHE-CLEARED</key>
    <string>キャッシュがクリアされました</string>
    <key>IDS_LBL_CACHING</key>
    <string>キャッシュ</string>
    <key>IDS_LBL_CACHING-LENGTH</key>
    <string>キャッシュの長さ</string>
    <key>IDS_LBL_CALCULATE-SHIPPING-COSTS_A</key>
    <string>配送料金を計算:</string>
    <key>IDS_LBL_CANCEL-ORDER</key>
    <string>注文のキャンセル</string>
    <key>IDS_LBL_CASH-ON-DELIVERY</key>
    <string>商品代引</string>
    <key>IDS_LBL_CATEGORIES</key>
    <string>カテゴリ</string>
    <key>IDS_LBL_CITY</key>
    <string>市</string>
    <key>IDS_LBL_CLEARANCE_ITEMS</key>
    <string>クリアランス</string>
    <key>IDS_LBL_CONFIRM-PASSWORD</key>
    <string>パスワードの確認</string>
    <key>IDS_LBL_CONSIGNEE-NAME</key>
    <string>荷受人名</string>
    <key>IDS_LBL_COPY-ME-IN-EMAIL</key>
    <string>コピーした内容を自分にもEメールで送る</string>
    <key>IDS_LBL_COUNTRY</key>
    <string>国</string>
    <key>IDS_LBL_CREAMS-LOTIONS</key>
    <string>クリーム、ローション</string>
    <key>IDS_LBL_CURRENCY_A</key>
    <string>通貨</string>
    <key>IDS_LBL_CURRENT-CART</key>
    <string>現在のカート</string>
    <key>IDS_LBL_CUSTOMER-INFORMATION</key>
    <string>お客様情報</string>
    <key>IDS_LBL_CUSTOMER-SERVICE</key>
    <string>カスタマーサービス</string>
    <key>IDS_LBL_DATE-COLON</key>
    <string>日にち:</string>
    <key>IDS_LBL_DEALS</key>
    <string>お買得商品</string>
    <key>IDS_LBL_DELIVERED-ON</key>
    <string>配達日は:</string>
    <key>IDS_LBL_DESCRIPTION</key>
    <string>商品説明</string>
    <key>IDS_LBL_DESCRIPTION-OF-ISSUE</key>
    <string>注文トラブル詳細</string>
    <key>IDS_LBL_DIET-AND-WEIGHT-LOSS</key>
    <string>ダイエットと減量</string>
    <key>IDS_LBL_DIMENSIONS</key>
    <string>サイズ</string>
    <key>IDS_LBL_DISCOUNT-COLON</key>
    <string>割引:</string>
    <key>IDS_LBL_DISCOUNT-S-COLON</key>
    <string>割引:</string>
    <key>IDS_LBL_EDIT-BILLING-ADDRESS</key>
    <string>請求先住所の変更</string>
    <key>IDS_LBL_EDIT-REVIEW</key>
    <string>レビューの編集</string>
    <key>IDS_LBL_EDIT-SHIPPING-ADDRESS</key>
    <string>配送先住所の変更</string>
    <key>IDS_LBL_EMAIL-ADDRESS</key>
    <string>メールアドレス</string>
    <key>IDS_LBL_EMAIL-UPDATE</key>
    <string>Eメールアップデート</string>
    <key>IDS_LBL_ENABLE-TOUCH-ID</key>
    <string>指紋認証（Touch ID）を有効にする</string>
    <key>IDS_LBL_ENTER-CODE</key>
    <string>コードを入力</string>
    <key>IDS_LBL_ESTIMATED-DELIVERY</key>
    <string>配送予定:</string>
    <key>IDS_LBL_ESTIMATED-ORDER-TOTAL-COLON</key>
    <string>見積注文合計額:</string>
    <key>IDS_LBL_ESTIMATED-TOTAL-IN-LOCALIZED_A</key>
    <string>お客さまの通貨による推定注文金額</string>
    <key>IDS_LBL_EXP</key>
    <string>有効期限</string>
    <key>IDS_LBL_EXTERNAL-PAYMENT-NOT-COMPLETE</key>
    <string>{0} での決済は完了していません！</string>
    <key>IDS_LBL_FILL-PASSPORT-NUMBER</key>
    <string>パスポート番号</string>
    <key>IDS_LBL_FOLDER-NAME_A</key>
    <string>フォルダー名</string>
    <key>IDS_LBL_FROM_A</key>
    <string>から</string>
    <key>IDS_LBL_FULL-NAME</key>
    <string>姓名</string>
    <key>IDS_LBL_GROCERY</key>
    <string>食品</string>
    <key>IDS_LBL_HEALTHY-HOME</key>
    <string>健やかな家</string>
    <key>IDS_LBL_HEAVIEST-TO-LIGHTEST_A</key>
    <string>重い物から軽い順</string>
    <key>IDS_LBL_HERBS</key>
    <string>ハーブ</string>
    <key>IDS_LBL_HIDE</key>
    <string>隠す</string>
    <key>IDS_LBL_HIGH-TO-LOW</key>
    <string>高から低へ</string>
    <key>IDS_LBL_HIGHEST-PRICE</key>
    <string>最も高い金額</string>
    <key>IDS_LBL_IMPORTANT-NOTE</key>
    <string>重要なお知らせ:</string>
    <key>IDS_LBL_IN-STOCK-COLON</key>
    <string>在庫あり：</string>
    <key>IDS_LBL_IN-STOCK-NOTIFICATIONS_A</key>
    <string>商品入荷通知</string>
    <key>IDS_LBL_INFORMATION</key>
    <string>情報</string>
    <key>IDS_LBL_ISSUE-INFORMATION</key>
    <string>問題点の詳細</string>
    <key>IDS_LBL_ISSUE-WITH-ENTIRE-ORDER</key>
    <string>注文全てに問題あり</string>
    <key>IDS_LBL_ISSUE-WITH-INDIVIDUAL-PRODUCTS</key>
    <string>一部の製品に問題あり</string>
    <key>IDS_LBL_ITEM-PRICE</key>
    <string>商品価格</string>
    <key>IDS_LBL_ITEMS-COUNT</key>
    <string>商品数 {0}</string>
    <key>IDS_LBL_KIDS-AND-BABIES</key>
    <string>ベビー</string>
    <key>IDS_LBL_LANGUAGE-CURRENCY</key>
    <string>言語/通貨</string>
    <key>IDS_LBL_LANGUAGE_A</key>
    <string>言語</string>
    <key>IDS_LBL_LARGE-ICON_A</key>
    <string>アイコン（大）</string>
    <key>IDS_LBL_LEAVE</key>
    <string>中止する</string>
    <key>IDS_LBL_LESS</key>
    <string>表示量を減らす</string>
    <key>IDS_LBL_LIGHTEST-TO-HEAVIEST_A</key>
    <string>軽い物から重い順</string>
    <key>IDS_LBL_LOW-TO-HIGH</key>
    <string>低から高</string>
    <key>IDS_LBL_LOWEST-PRICE</key>
    <string>最低価格</string>
    <key>IDS_LBL_LOYALTY-CREDIT</key>
    <string>ロイヤルティクレジット</string>
    <key>IDS_LBL_MAKE-SELECTION</key>
    <string>実行したいボタンを選択してください</string>
    <key>IDS_LBL_MAX</key>
    <string>最高値</string>
    <key>IDS_LBL_METHOD</key>
    <string>方法</string>
    <key>IDS_LBL_MINIMUM-CUSTOMER-RATING_A</key>
    <string>一番低いランク</string>
    <key>IDS_LBL_MODIFY-ORDER-INFO_A</key>
    <string>注文情報の修正</string>
    <key>IDS_LBL_MODIFY-ORDER-ITEM-QUANTITY_A</key>
    <string>注文商品の数量を修正する</string>
    <key>IDS_LBL_MORE</key>
    <string>もっと</string>
    <key>IDS_LBL_MOST-HELPFUL</key>
    <string>最も役立った</string>
    <key>IDS_LBL_MY-FOLDERS</key>
    <string>マイフォルダー</string>
    <key>IDS_LBL_MY-REVIEWS</key>
    <string>私のレビュー</string>
    <key>IDS_LBL_MY-SAVED-SEARCHES_A</key>
    <string>保存した検索結果</string>
    <key>IDS_LBL_NEW</key>
    <string>新</string>
    <key>IDS_LBL_NEW-PASSWORD</key>
    <string>新しいパスワード</string>
    <key>IDS_LBL_NEWEST</key>
    <string>最新</string>
    <key>IDS_LBL_NOTIFICATIONS_A</key>
    <string>通知</string>
    <key>IDS_LBL_OLD-PASSWORD</key>
    <string>古いパスワード</string>
    <key>IDS_LBL_OPTIONAL</key>
    <string>オプショナル</string>
    <key>IDS_LBL_ORDER-CANCELLATION</key>
    <string>注文のキャンセル</string>
    <key>IDS_LBL_ORDER-CONFIRMATION</key>
    <string>注文確定</string>
    <key>IDS_LBL_ORDER-INFORMATION</key>
    <string>注文情報</string>
    <key>IDS_LBL_ORDER-ITEMS_A</key>
    <string>注文商品</string>
    <key>IDS_LBL_ORDER-MODIFICATION</key>
    <string>注文修正</string>
    <key>IDS_LBL_ORDER-NOTIFICATIONS</key>
    <string>注文の通知</string>
    <key>IDS_LBL_ORDER-NUMBER</key>
    <string>注文番号</string>
    <key>IDS_LBL_ORDER-NUMBER-COLON</key>
    <string>注文番号:</string>
    <key>IDS_LBL_ORDER-SHIPPING</key>
    <string>注文配送</string>
    <key>IDS_LBL_ORDER-STATUS</key>
    <string>注文状況</string>
    <key>IDS_LBL_ORDER-TOTAL-COLON_A</key>
    <string>注文合計：</string>
    <key>IDS_LBL_ORDER-TOTALS</key>
    <string>注文合計:</string>
    <key>IDS_LBL_OTHER-INFORMATION</key>
    <string>その他の情報</string>
    <key>IDS_LBL_OTHER-INGREDIENTS</key>
    <string>その他の成分</string>
    <key>IDS_LBL_PACKAGE-NUMBER-OF-TOTAL</key>
    <string>{1} 個中{0} 個目</string>
    <key>IDS_LBL_PACKAGE-QUANTITY</key>
    <string>内容量</string>
    <key>IDS_LBL_PACKAGES</key>
    <string>パッケージ</string>
    <key>IDS_LBL_PAID-WITH-EXTERNAL-PAYMENT</key>
    <string>{0} で決済する</string>
    <key>IDS_LBL_PASSWORD</key>
    <string>パスワード</string>
    <key>IDS_LBL_PAYMENT-METHOD</key>
    <string>お支払い方法</string>
    <key>IDS_LBL_PENDING-COLON</key>
    <string>未確定：</string>
    <key>IDS_LBL_PETS</key>
    <string>ペット</string>
    <key>IDS_LBL_PHONE-NUMBER</key>
    <string>電話番号</string>
    <key>IDS_LBL_POSTAL-CODE</key>
    <string>郵便番号</string>
    <key>IDS_LBL_PREVIOUS-CART</key>
    <string>前のカート</string>
    <key>IDS_LBL_PRICE</key>
    <string>価格</string>
    <key>IDS_LBL_PRICE-COLON</key>
    <string>価格:</string>
    <key>IDS_LBL_PRICE-TOGETHER</key>
    <string>一緒の購入で：</string>
    <key>IDS_LBL_PRODUCT</key>
    <string>商品</string>
    <key>IDS_LBL_PRODUCT-CATEGORIES</key>
    <string>プロダクトのカテゴリ</string>
    <key>IDS_LBL_PRODUCT-CODE</key>
    <string>プロダクトコード</string>
    <key>IDS_LBL_PRODUCTS</key>
    <string>商品</string>
    <key>IDS_LBL_QTY-COLON</key>
    <string>数量:</string>
    <key>IDS_LBL_RATING</key>
    <string>評価する</string>
    <key>IDS_LBL_RECOMMENDATIONS</key>
    <string>お勧めの品</string>
    <key>IDS_LBL_RELEVANCE</key>
    <string>関連性</string>
    <key>IDS_LBL_REMOVED_A</key>
    <string>削除済</string>
    <key>IDS_LBL_RESHIP-OF-ORDER</key>
    <string>再送：元の注文番号</string>
    <key>IDS_LBL_RESHIPPED-UNDER-ORD</key>
    <string>再出荷：注文番号</string>
    <key>IDS_LBL_REVIEW</key>
    <string>レビュー</string>
    <key>IDS_LBL_REVIEW-APP_A</key>
    <string>アプリの評価</string>
    <key>IDS_LBL_REVIEW-TITLE</key>
    <string>件名</string>
    <key>IDS_LBL_REVIEWS</key>
    <string>レビュー</string>
    <key>IDS_LBL_REWARDS-ADDRESS</key>
    <string>ストアクレジットの住所</string>
    <key>IDS_LBL_REWARDS-CODE</key>
    <string>紹介コード</string>
    <key>IDS_LBL_REWARDS-CREDIT</key>
    <string>紹介クレジット</string>
    <key>IDS_LBL_SAME-AS-SHIPPING-ADDRESS</key>
    <string>注文配送先と同じ</string>
    <key>IDS_LBL_SAVED-SEARCHES_A</key>
    <string>保存した検索</string>
    <key>IDS_LBL_SAVINGS</key>
    <string>割引</string>
    <key>IDS_LBL_SAVINGS-COLON</key>
    <string>割引:</string>
    <key>IDS_LBL_SEARCH-HISTORY</key>
    <string>検索履歴</string>
    <key>IDS_LBL_SELECT-CURRENCY</key>
    <string>通貨を選ぶ</string>
    <key>IDS_LBL_SELECT-FROM-SAVED-ADDRESSES_M</key>
    <string>登録された住所から選ぶ</string>
    <key>IDS_LBL_SELECT-LANGUAGE</key>
    <string>言語を選ぶ</string>
    <key>IDS_LBL_SELECT-PREFERENCES</key>
    <string>配送先、通貨、言語を選択する。</string>
    <key>IDS_LBL_SELECT-PRODUCT</key>
    <string>商品を選ぶ</string>
    <key>IDS_LBL_SELECT-REASON</key>
    <string>理由をお選び下さい</string>
    <key>IDS_LBL_SELECT-SHIPPING-METHOD</key>
    <string>配送方法を選んでください</string>
    <key>IDS_LBL_SELECT-YOUR-COUNTRY</key>
    <string>国を選ぶ</string>
    <key>IDS_LBL_SHIPPING</key>
    <string>配送</string>
    <key>IDS_LBL_SHIPPING-ADDRESS</key>
    <string>配送先住所</string>
    <key>IDS_LBL_SHIPPING-ADDRESS-COLON</key>
    <string>配送先住所:</string>
    <key>IDS_LBL_SHIPPING-METHOD</key>
    <string>配送方法</string>
    <key>IDS_LBL_SHOW</key>
    <string>見せる</string>
    <key>IDS_LBL_SIGNIN_WITH_EMAIL</key>
    <string>Eメールでログイン</string>
    <key>IDS_LBL_SMALL-ICON_A</key>
    <string>小さいアイコン</string>
    <key>IDS_LBL_SORT-BY</key>
    <string>並び替え</string>
    <key>IDS_LBL_SORT_A</key>
    <string>並べ替え</string>
    <key>IDS_LBL_SPECIALS</key>
    <string>スペシャル</string>
    <key>IDS_LBL_SPORTS</key>
    <string>スポーツ</string>
    <key>IDS_LBL_STATE-REGION</key>
    <string>都道府県</string>
    <key>IDS_LBL_STATE-TERRITORY</key>
    <string>州/準州</string>
    <key>IDS_LBL_STATUS-COLON</key>
    <string>状況:</string>
    <key>IDS_LBL_SUBCATEGORIES_A</key>
    <string>サブカテゴリ</string>
    <key>IDS_LBL_SUBMIT</key>
    <string>実行する</string>
    <key>IDS_LBL_SUBTOTAL-COLON</key>
    <string>小計:</string>
    <key>IDS_LBL_SUBURB</key>
    <string>地区</string>
    <key>IDS_LBL_SUGGESTED-USE</key>
    <string>ご使用の目安</string>
    <key>IDS_LBL_SUPERFOODS</key>
    <string>スーパーフッズ</string>
    <key>IDS_LBL_SUPPLEMENTS</key>
    <string>サプリメント</string>
    <key>IDS_LBL_TAX</key>
    <string>米国消費税</string>
    <key>IDS_LBL_TOTAL-CANCELLED</key>
    <string>キャンセルした合計</string>
    <key>IDS_LBL_TOTAL-COLON</key>
    <string>合計:</string>
    <key>IDS_LBL_TOTAL-ORDERS</key>
    <string>{0} 注文合計</string>
    <key>IDS_LBL_TOTAL-WEIGHT-COLON</key>
    <string>重量合計:</string>
    <key>IDS_LBL_TRACKING-COLON</key>
    <string>トラッキング:</string>
    <key>IDS_LBL_TRACKING-NUMBER</key>
    <string>追跡番号:</string>
    <key>IDS_LBL_TRIALS</key>
    <string>試用</string>
    <key>IDS_LBL_UNITED-STATES</key>
    <string>米国</string>
    <key>IDS_LBL_UPC-CODE</key>
    <string>UPCコード</string>
    <key>IDS_LBL_UPDATE-SELECTION-SETTINGS</key>
    <string>設定から選択を更新することが出来ます</string>
    <key>IDS_LBL_WARNINGS</key>
    <string>警告</string>
    <key>IDS_LBL_WEIGHT</key>
    <string>重量</string>
    <key>IDS_LBL_WEIGHT-COLON</key>
    <string>重量:</string>
    <key>IDS_LBL_ZIP-POSTAL</key>
    <string>ジップコード・郵便番号</string>
    <key>IDS_LBL_ZIP-POSTAL-CODE-COLON_A</key>
    <string>郵便番号:</string>
    <key>IDS_LNK_ACNE</key>
    <string>にきび</string>
    <key>IDS_LNK_ALLERGIES</key>
    <string>アレルギー</string>
    <key>IDS_LNK_ANXIETY</key>
    <string>不安</string>
    <key>IDS_LNK_CLOSE</key>
    <string>閉じる</string>
    <key>IDS_LNK_COLD-FLU-VIRAL</key>
    <string>風邪、インフルエンザ、 ウイルス</string>
    <key>IDS_LNK_DELETE</key>
    <string>削除</string>
    <key>IDS_LNK_DIET-WEIGHT-LOSS</key>
    <string>ダイエット、減量</string>
    <key>IDS_LNK_HAIR-ALOPECIA</key>
    <string>髪、脱毛症</string>
    <key>IDS_LNK_HEADACHE</key>
    <string>頭痛</string>
    <key>IDS_LNK_INFLAMMATION</key>
    <string>炎症</string>
    <key>IDS_LNK_JOINTS-LIGAMENTS</key>
    <string>関節、靭帯</string>
    <key>IDS_LNK_KIDNEY-BLADDER</key>
    <string>腎臓、膀胱</string>
    <key>IDS_LNK_LEARN-MORE-LOYALTY-CREDIT</key>
    <string>iHerb ロイヤルティクレジットプログラムについて詳しく</string>
    <key>IDS_LNK_LEARN-MORE-REWARDS-PROGRAM</key>
    <string>iHerb紹介プログラムについての詳細</string>
    <key>IDS_LNK_MY-ACCOUNT</key>
    <string>アカウント</string>
    <key>IDS_LNK_SIGN-OUT</key>
    <string>サインアウト</string>
    <key>IDS_LNK_SKIN-HEALTH</key>
    <string>皮膚の健康状態</string>
    <key>IDS_LNK_WOMEN-HEALTH</key>
    <string>女性の健康</string>
    <key>IDS_MSG_ADDRESS-ADDED</key>
    <string>ご住所が追加されました</string>
    <key>IDS_MSG_ADDRESS-DELETED</key>
    <string>住所が削除されました</string>
    <key>IDS_MSG_ALREADY-IN-WISH-LIST</key>
    <string>ウィッシュリストにすでにある商品</string>
    <key>IDS_MSG_CANCEL-ENTIRE-ORDER</key>
    <string>本当にこのご注文をキャンセルしますか？</string>
    <key>IDS_MSG_CART-MAY-NOT-CONTAIN-ALL-ITEMS</key>
    <string>前回追加した商品がカートに入っていない可能性があります。</string>
    <key>IDS_MSG_CHECK-INTERNET-CONNECTION</key>
    <string>インターネットの接続をお確かめ下さい。</string>
    <key>IDS_MSG_CONFIRM-CLEAR-SEARCH-HISTORY_T</key>
    <string>本当に検索履歴を消去してもよろしいですか？</string>
    <key>IDS_MSG_CONFIRMATION-EMAIL-SENT</key>
    <string>確認メールを送信しました。</string>
    <key>IDS_MSG_CONNECTION-ISSUES-ACCESSING-CART</key>
    <string>接続に問題があり、カートにアクセスできません。</string>
    <key>IDS_MSG_COUPON-APPLIED_A</key>
    <string>紹介コードが入力されました</string>
    <key>IDS_MSG_COUPON-REMOVED</key>
    <string>クーポンが除去されました</string>
    <key>IDS_MSG_DELETE-ADDRESS-CONFIRMATION</key>
    <string>この住所を本当に削除しても良いですか？</string>
    <key>IDS_MSG_DELETE-CREDIT-CARD-CONFIRMATION</key>
    <string>このクレジットカードを本当に削除しても良いですか？</string>
    <key>IDS_MSG_DELETE-FOLDER-CONFIRMATION</key>
    <string>本当にフォルダを削除してもよろしいですか？</string>
    <key>IDS_MSG_DELETE-ICON-CONFRIMATION</key>
    <string>このアイコンを本当に削除してもいいですか？</string>
    <key>IDS_MSG_DELETE-ITEM-CONFIRMATION</key>
    <string>本当にこの商品を削除してもいいですか？</string>
    <key>IDS_MSG_DID-YOU-MEAN</key>
    <string>{0} のことですか？</string>
    <key>IDS_MSG_EDIT-BILLING-ADDRESS_A</key>
    <string>下記の請求書住所を変更してください</string>
    <key>IDS_MSG_EDIT-FOLDER-NAME-AND-SAVE_A</key>
    <string>フォルダーの名前を変更し、保存をクリックしてください</string>
    <key>IDS_MSG_EDIT-SHIPPING-ADDRESS_A</key>
    <string>下記の配送先住所を変更してください</string>
    <key>IDS_MSG_EMAIL-SENT</key>
    <string>Eメールが送られました</string>
    <key>IDS_MSG_FOLDER-ADDED-TO-CART_A</key>
    <string>フォルダーがカートに入りました</string>
    <key>IDS_MSG_HERE-ARE-SOME-SIMILAR-PRODUCTS</key>
    <string>類似商品はこちらになります:</string>
    <key>IDS_MSG_ITEM-ADDED-TO-CART_A</key>
    <string>商品がカートに入れられました</string>
    <key>IDS_MSG_ITEM-ADDED-TO-WISHLIST</key>
    <string>商品はウィッシュリストに加わりました</string>
    <key>IDS_MSG_ITEM-DELETED_A</key>
    <string>商品が削除されました</string>
    <key>IDS_MSG_ITEM-REMOVED</key>
    <string>商品が削除されました</string>
    <key>IDS_MSG_ITEMS-ADDED</key>
    <string>この商品はカートに入りました。</string>
    <key>IDS_MSG_ITEMS-COPIED_A</key>
    <string>コピーされた商品</string>
    <key>IDS_MSG_ITEMS-MOVED</key>
    <string>商品は移動されました。</string>
    <key>IDS_MSG_LEAVE-APP-AND-OPEN-BROWSER</key>
    <string>iHerbアプリを終了して、外部のブラウザーのリンクを開きますか？</string>
    <key>IDS_MSG_LEAVE-CHECKOUT-CONFIRMATION</key>
    <string>ご購入手続きを中止しますか？</string>
    <key>IDS_MSG_LEAVE-ORDER-ISSUES-CONFIRMATION</key>
    <string>注文に関するトラブルのセッションを終了しますが宜しいですか？</string>
    <key>IDS_MSG_LINK-TO-CHANGE-PASSWORD_S00</key>
    <string>あなたのパスワードをリセットするためのリンクは、あなたのメールアドレスに送信されました。</string>
    <key>IDS_MSG_LINK-TO-CHANGE-PASSWORD_S01</key>
    <string>それは5分以内にメールされます。</string>
    <key>IDS_MSG_LOG-OUT-CONFIRMATION</key>
    <string>本当にログアウトしますか？</string>
    <key>IDS_MSG_NO-ITEMS-IN-WISHLIST</key>
    <string>ウィッシュリストには何も入っていません。</string>
    <key>IDS_MSG_NOT-AVAILABLE</key>
    <string>ご利用不可</string>
    <key>IDS_MSG_NOT-RECOGNIZE-ADDRESS</key>
    <string>弊社の住所確認システムでは、入力した住所が認識されませんでした。</string>
    <key>IDS_MSG_NOTHING-TO-REMOVE</key>
    <string>削除するものが何もありません。</string>
    <key>IDS_MSG_NOTIFY-LIST-IN-LIST</key>
    <string>この商品はすでに通知希望リストの中にあります。</string>
    <key>IDS_MSG_OPTION-UNAVAILABLE-FOR-ORDER_A</key>
    <string>この注文に関してこの選択はお選びいただけません</string>
    <key>IDS_MSG_ORDER-HISTORY-EMPTY</key>
    <string>注文履歴は現在何もありません。</string>
    <key>IDS_MSG_PASSWORD-WAS-SAVED</key>
    <string>パスワードが保存されました。</string>
    <key>IDS_MSG_PAYMENT-FAILED</key>
    <string>お支払い失敗</string>
    <key>IDS_MSG_PAYMENT-PENDING</key>
    <string>お支払保留</string>
    <key>IDS_MSG_PAYMENT-SUCCESSFUL</key>
    <string>支払い完了</string>
    <key>IDS_MSG_PLEASE-BROWSE-ADD-PRODUCTS_A</key>
    <string>商品を検索、閲覧し、ショッピングカートに加える。</string>
    <key>IDS_MSG_PRODUCT-NOT-AVAILABLE</key>
    <string>この商品は販売されていません。</string>
    <key>IDS_MSG_QUANTITY-UPDATED</key>
    <string>数量が更新されました</string>
    <key>IDS_MSG_REACHED-LIMIT-HOMEPAGE-ICONS_A</key>
    <string>上限に達しています。</string>
    <key>IDS_MSG_REMOVE-ALL-ITEMS-CONFIRMATION</key>
    <string>すべての商品を削除しますか？</string>
    <key>IDS_MSG_REMOVE-PHOTO-CONFIRMATION</key>
    <string>この写真を削除しますか？</string>
    <key>IDS_MSG_REMOVE-REVIEW-CONFIRMATION</key>
    <string>このレビューを本当に削除しますか？</string>
    <key>IDS_MSG_REMOVE-THIS-ITEM-CONFIRMATION</key>
    <string>本当にこの商品を削除しても良いですか？</string>
    <key>IDS_MSG_REORDER-CONFIRMATION_A</key>
    <string>再注文しますか？</string>
    <key>IDS_MSG_REWARDS-ADDRESS-NOT-APPROVED</key>
    <string>あなたの紹介プログラムの住所は、まだ承認されていません。この住所を承認するために、iHerb のカスタマーサービスがご連絡いたします。</string>
    <key>IDS_MSG_SAVE-CHANGES-CONFIRMATION</key>
    <string>本当に変更しても良いですか？</string>
    <key>IDS_MSG_SAVED-SUCCESSIVELY_A</key>
    <string>保存に成功しました</string>
    <key>IDS_MSG_SEARCH-RESULTS-FOR-COLON_A</key>
    <string>{0} の検索結果:</string>
    <key>IDS_MSG_SEARCH-RESULTS-REVIEWS-COLON_A</key>
    <string>レビューの中の {0} への検索結果:</string>
    <key>IDS_MSG_SELECT-ICON-SIZE_A</key>
    <string>大と小のどちらのアイコンをお選びになりますか？</string>
    <key>IDS_MSG_SELECT-ICON-TYPE_A</key>
    <string>作成したいアイコンの種類を選択してください</string>
    <key>IDS_MSG_SHARE-YOUR-CART</key>
    <string>iHerb.comでショッピングカートを確認。</string>
    <key>IDS_MSG_SUBMIT-FORM-CONFIRMATION</key>
    <string>このフォームを送信しますか？</string>
    <key>IDS_MSG_THANKS-FOR-FEEDBACK</key>
    <string>ご意見をお寄せいただきありがとうございます！</string>
    <key>IDS_MSG_THERE-ARE-NO-SEARCH-RESULTS-FOR</key>
    <string>{0}に関する検索結果は得られませんでした。</string>
    <key>IDS_MSG_TOUCH-ID-ENABLED-AFTER-LOGIN</key>
    <string>指紋認証（Touch ID）は、ログイン後に使用可能になり、お客様のiHerbアカウントへアクセスできるようになります</string>
    <key>IDS_MSG_TRY-AGAIN_A</key>
    <string>もう一度行ってください</string>
    <key>IDS_MSG_WE-DO-NOT-CARRY</key>
    <string>弊社では取り扱っていません {0}</string>
    <key>IDS_MSG_WISH-LIST-COPY-SUBTITLE</key>
    <string>どのフォルダに商品をコピーしますか？</string>
    <key>IDS_MSG_WISH-LIST-EMPTY</key>
    <string>ウィッシュリストの中には現在何も入っていません。</string>
    <key>IDS_MSG_WISH-LIST-MOVE-SUBTITLE</key>
    <string>商品をどのフォルダに移動しますか？</string>
    <key>IDS_MSG_WRITE-REVIEW-MUST-SHIPPED-ORDER</key>
    <string>レビューを書くのは、出荷済みのご注文をお持ちの方に限ります。</string>
    <key>IDS_MSG_WRITE-YOUR-REVIEW-HERE_A</key>
    <string>ここにレビューをお書きください</string>
    <key>IDS_MSG_YOUR-REVIEW-WAS-DELETED</key>
    <string>あなたのレビューは削除されました。</string>
    <key>IDS_MSG_YOUR-REVIEW-WAS-SAVED</key>
    <string>あなたのレビューは保存されました。</string>
    <key>IDS_TTL_APPLIED-CODES</key>
    <string>適用コード</string>
    <key>IDS_TTL_APPLY-REWARDS-OR-PROMO-CODE</key>
    <string>紹介またはプロモコードを適用</string>
    <key>IDS_TTL_CHECKOUT</key>
    <string>ご購入手続き</string>
    <key>IDS_TTL_CUSTOMIZE-ICON_A</key>
    <string>アイコンのカスタマイズ</string>
    <key>IDS_TTL_EDIT-FOLDER-NAME_A</key>
    <string>フォルダー名の変更</string>
    <key>IDS_TTL_EDIT-SAVED-SEARCH-NAME_A</key>
    <string>保存された検索の名前を編集する</string>
    <key>IDS_TTL_ERROR_A</key>
    <string>間違いです</string>
    <key>IDS_TTL_KOREAN-PCC</key>
    <string>韓国の PCC</string>
    <key>IDS_TTL_LOGIN</key>
    <string>ログイン</string>
    <key>IDS_TTL_NEW-BILLING-ADDRESS_A</key>
    <string>新規請求先</string>
    <key>IDS_TTL_NEW-FEATURE-DEMO_A</key>
    <string>新機能のデモ</string>
    <key>IDS_TTL_NEW-REWARDS-ADDRESS_A</key>
    <string>新しい紹介プログラム住所</string>
    <key>IDS_TTL_NEW-SHIPPING-ADDRESS_A</key>
    <string>新規配送先</string>
    <key>IDS_TTL_ORDER-ISSUES</key>
    <string>注文のトラブル</string>
    <key>IDS_TTL_PROFILE</key>
    <string>プロフィール</string>
    <key>IDS_TTL_SEARCH-TITLE_A</key>
    <string>検索条件に名前をつける</string>
    <key>IDS_TTL_SELECT-FOLDER_A</key>
    <string>フォルダーの選択</string>
    <key>IDS_TTL_SELECT-HEALTH-TOPIC</key>
    <string>健康トピックを選ぶ</string>
    <key>IDS_TTL_SELECT-ICON-IMAGE_A</key>
    <string>アイコンを選択</string>
    <key>IDS_TTL_SELECT-ORDER-NUMBER</key>
    <string>注文番号を選ぶ</string>
    <key>IDS_TTL_SELECT-PRODUCT-CATEGORY_A</key>
    <string>商品のカテゴリを選択</string>
    <key>IDS_TTL_SELECT-SAVED-SEARCH_A</key>
    <string>保存された検索を選択</string>
    <key>IDS_TTL_SHOPPING-CART</key>
    <string>ショッピング カート</string>
    <key>IDS_TXT_ACCESS-YOUR-SAVED-SEARCHES-MORE</key>
    <string>保存した検索結果等にアクセスする</string>
    <key>IDS_TXT_AGREE_TERMS_POLICY_STATEMENT</key>
    <string>アカウントを作成することにより、弊社の &lt;a href="{0}" target="_blank"&gt;プライバシーポリシー&lt;/a&gt; と &lt;a href="{1}" target="_blank"&gt;利用規約&lt;/a&gt; にも同意します。</string>
    <key>IDS_TXT_AUTOENROLL_EARN-BACK</key>
    <string>10%の還元</string>
    <key>IDS_TXT_AUTOENROLL_GET_PAID</key>
    <string>$5 + 5%の還元</string>
    <key>IDS_TXT_AUTOENROLL_WITH-LOYALTY-CREDIT</key>
    <string>注文するごとにロイヤルティクレジット</string>
    <key>IDS_TXT_AUTOENROLL_WITH-OUR-REFERRAL</key>
    <string>弊社の紹介プログラムで新規顧客を紹介した場合。</string>
    <key>IDS_TXT_BUY-THESE-TOGETHER</key>
    <string>これらをまとめて購入</string>
    <key>IDS_TXT_CACHING-NOTES</key>
    <string>キャッシュを有効にすることにより、インターネットに接続しない状態、もしくは、つながりにくい状態でも最近ブラウズしたページにアクセスすることが出来ます... キャッシュページを閲覧することは、価格やその他の情報は古いものとなりますので、ご注意下さい。</string>
    <key>IDS_TXT_CART-IS-EMPTY</key>
    <string>カートは空っぽです</string>
    <key>IDS_TXT_CASH-ON-DELIVERY</key>
    <string>代金は注文が配達されたときに現金にて集金されます。</string>
    <key>IDS_TXT_CLEAR-CACHE-CONFIRM</key>
    <string>本当にキャッシュをクリアしてもよいですか？</string>
    <key>IDS_TXT_DELETE-COUPON-CODE-CONFIRMATION</key>
    <string>このクーポンコードを本当に削除してもいいですか？</string>
    <key>IDS_TXT_DIGIT-CODE</key>
    <string>6桁のコード</string>
    <key>IDS_TXT_DIGIT-CODE-REQUIERED</key>
    <string>６桁のコードが必要です。</string>
    <key>IDS_TXT_EDIT-SAVED-SEARCH-NAME_A</key>
    <string>この保存された検索名を編集し、保存をタップします。</string>
    <key>IDS_TXT_ENTER-FOLDER-NAME</key>
    <string>フォルダーの名前を入力してください</string>
    <key>IDS_TXT_EXPIRATION-DATE_S00</key>
    <string>有効期限までの日数や“賞味期限”までの時間の長さは、ブランドだけでなく、商品の種類によっても異なります。</string>
    <key>IDS_TXT_EXPIRATION-DATE_S01</key>
    <string>生鮮項目（亜麻油や特定のプロバイオティクスなど）の期間は一般的に短くなっています。弊社の倉庫は室温が自動調整でいつも一定に保たれていますが、特にこれらの温度に敏感な商品などは鮮度を最大に保たれるよう、冷蔵（冷凍庫や冷蔵ユニット）に入れて保存されています。</string>
    <key>IDS_TXT_EXPIRATION-DATE_S02</key>
    <string>メーカーから弊社へ送られてきたすべての商品は受け入れ専門のスタッフによって有効期限を確認され、正しくシステムへ入力するように最善をつくしています。しかし、時々、ウエブサイトの情報との不一致が発生することがあります。これは、弊社の商品の回転率の速さが在庫品が業界の中で非常に高い新鮮度を確保しているからだと言えます。</string>
    <key>IDS_TXT_EXTERNAL-PAYMENT-NOT-COMPLETE</key>
    <string>{0} での支払いがうまくいきませんでした。もし、{1} での支払いを完了させているのでしたら、当店のシステムが更新されるまで、少なくとも2時間、お待ち下さい。もし、2時間たっても支払いがうまくいかない場合、もう一度お試しいただくか、カスタマーサービスにお問い合わせ下さい。
&lt;br /&gt;
&lt;br /&gt;
もし、{2} での支払いが完了していない場合、下記のボタンを使用し、支払いを完了させてください。</string>
    <key>IDS_TXT_FIND-OR-TRACK-YOUR-ORDERS</key>
    <string>注文を探すか追跡する</string>
    <key>IDS_TXT_IMPORTANT-NOTE</key>
    <string>重要事項</string>
    <key>IDS_TXT_ITEMS-FROM-PREVIOUS-SESSION</key>
    <string>前のセッションからの商品がカートに入っています。</string>
    <key>IDS_TXT_LANGUAGE-SETTINGS-ALERT</key>
    <string>iOS 設定より、ご希望される言語をお選び下さい。</string>
    <key>IDS_TXT_LOGIN-TO-YOUR-ACCOUNT-TO</key>
    <string>アカウントにログインする:</string>
    <key>IDS_TXT_LOGIN-USING-TOUCH-ID</key>
    <string>指紋認証（Touch ID）を使ってログインすることが出来ます。</string>
    <key>IDS_TXT_LOGIN_SHOP_TOP_BRANDS</key>
    <string>35,000以上もの高品質の健康食品を40ドル以上の注文では送料無料でお求めいただけます。</string>
    <key>IDS_TXT_MANAGE-REWARDS-ADDRESS</key>
    <string>紹介アドレスを管理するには、 &lt;a class="{0}" href="{1}"&gt;紹介プログラム&lt;/a&gt; ウェブサイトにログインして下さい。</string>
    <key>IDS_TXT_MANAGE-YOUR-WISH-LIST</key>
    <string>ウィッシュリストを整理する</string>
    <key>IDS_TXT_MODIFY-ORDER-ITEMS_A</key>
    <string>注文内の商品の数量を変更するか、特定の商品を削除する</string>
    <key>IDS_TXT_MODIFY-ORDER-NOTE</key>
    <string>注文を修正した場合、不正ではないかどうかスクリーニングをかけるため、配達まで送れる場合があります。</string>
    <key>IDS_TXT_MODIFY-SHIPPING-ADDRESS_A</key>
    <string>下記にある住所から1つ選ぶか、新しい住所を追加してください。</string>
    <key>IDS_TXT_MODIFY-SHIPPING-METHOD_A</key>
    <string>下記にある配達方法から1つお選び下さい。</string>
    <key>IDS_TXT_NEW-BILLING-ADDRESS_A</key>
    <string>新しい請求先を下記に追加する</string>
    <key>IDS_TXT_NEW-FEATURE-DEMO_A</key>
    <string>新しいiHerbのアプリは、お客さまへ是非お知らせしたい、新機能がいくつか含まれています。</string>
    <key>IDS_TXT_NEW-SHIPPING-ADDRESS_A</key>
    <string>新しい配送先を下記に追加する</string>
    <key>IDS_TXT_NO-ITEMS-IN-NOTIFY-LIST</key>
    <string>あなたの通知リストには何もありません。在庫切れの商品が入手可能になったときに通知されたい場合、その商品がここに表示されます。</string>
    <key>IDS_TXT_NOTIFIED-WHEN-PRODUCT-AVAILABLE</key>
    <string>この商品が入荷次第、お知らせいたします。</string>
    <key>IDS_TXT_NUMBER-DAYS</key>
    <string>{0} 日</string>
    <key>IDS_TXT_NUMBER-OF-REVIEWS</key>
    <string>{0} 件のレビュー</string>
    <key>IDS_TXT_OR</key>
    <string>もしくは</string>
    <key>IDS_TXT_ORDER-ISSUE</key>
    <string>お客様の注文に何か問題点があった場合、恐れ入りますが下記のフォームからご連絡下さい。</string>
    <key>IDS_TXT_OTHER-DEVICE-EMAIL-MODIFIED</key>
    <string>お客様のEメールが更新されました</string>
    <key>IDS_TXT_OTHER-DEVICE-ORDER-CANCELLED</key>
    <string>注文 {0}  はキャンセルされました</string>
    <key>IDS_TXT_OTHER-DEVICE-ORDER-CONFIRMATION</key>
    <string>注文 {0} をお受けしました</string>
    <key>IDS_TXT_OTHER-DEVICE-ORDER-MODIFIED</key>
    <string>注文 {0} は、修正されました</string>
    <key>IDS_TXT_OTHER-DEVICE-PASSWORD-RESET</key>
    <string>お客様のパスワードがリセットされました</string>
    <key>IDS_TXT_PAYMENT-METHOD-SUBTITLE_A</key>
    <string>以前にセーブした支払い方法を閲覧または編集する</string>
    <key>IDS_TXT_PEOPLE-FOUND-REVIEW-HELFUL</key>
    <string>{0} 人が、次のレビューが役に立ったと感じています</string>
    <key>IDS_TXT_PRODUCT-WEIGHT-KG</key>
    <string>{0} キログラム</string>
    <key>IDS_TXT_PRODUCT-WEIGHT-LBS</key>
    <string>{0} ポンド</string>
    <key>IDS_TXT_PUSH-NOTIFICATIONS-EMAIL-UPDATE</key>
    <string>違う機器でEメールが更新された場合、アラートを受信することになります。</string>
    <key>IDS_TXT_PUSH-NOTIFICATIONS-IN-STOCK_A</key>
    <string>興味のある在庫切れだった商品が再入荷したときに、通知を受け取ります</string>
    <key>IDS_TXT_PUSH-NOTIFICATIONS-ORDER-CANCEL</key>
    <string>違う機器で注文をキャンセルした場合、アラートを受け取ることになります。</string>
    <key>IDS_TXT_PUSH-NOTIFICATIONS-ORDER-CONFIRM</key>
    <string>違う機器で注文を入れた場合、アラートを受信することになります。</string>
    <key>IDS_TXT_PUSH-NOTIFICATIONS-ORDER-MODIF</key>
    <string>違う機器で注文が修正された場合、アラートを受信することになります。</string>
    <key>IDS_TXT_PUSH-NOTIFICATIONS-PASS-RESET</key>
    <string>違う機器でパスワードをリセットした場合、アラートを受信することになります。</string>
    <key>IDS_TXT_PUSH-NOTIFICATIONS-SHIPPED-OUT_A</key>
    <string>注文の配送準備が整った時点で、通知が送られます。</string>
    <key>IDS_TXT_PUSH-NOTIFICATION_I</key>
    <string>携帯のセッティング &gt; 通知 &gt; iHerb、そして「プッシュ通知を許可」して下さい。</string>
    <key>IDS_TXT_RESET-PASSWORD</key>
    <string>Eメールアドレスを入力した後で、新しいパスワードを作成するリンクをお送りします。セキュリティの都合上、パスワードをリセット後に、すべてのクレジットカード情報はアカウントから削除されます。</string>
    <key>IDS_TXT_RESET-PASSWORD-NOTE1</key>
    <string>あなたのパスワードをリセットするためのリンクは、自動的にEメールにてに送られました。いくつかのメール　サービス•プロバイダーは、そのEメールをバルクメールや迷惑メールフォルダに送ってしまうことがあります。 もし弊社からのEメールを見つけることができない場合、そのフォルダ-を必ずご確認ください。</string>
    <key>IDS_TXT_RESET-PASSWORD-SECURITY-HTML_A</key>
    <string>セキュリティ上の目的のため、あなたがパスワードをリセットすると、&lt;font color="#FF0000"&gt;全てのクレジットカード情報はアカウントから削除されます。&lt;/font&gt;</string>
    <key>IDS_TXT_RESULTS-FOR_A</key>
    <string>検索結果 {0} 個</string>
    <key>IDS_TXT_REVIEWED-ON-DATE_A</key>
    <string>レビューの記載日 {0}</string>
    <key>IDS_TXT_REWARDS-ADDRESS-SUBTITLE_A</key>
    <string>300ドル以上の紹介クレジットを現金化するには、住所を追加、修正してください。</string>
    <key>IDS_TXT_SAVE</key>
    <string>割引</string>
    <key>IDS_TXT_SAVE-WHEN-BUY-TOGETHER</key>
    <string>今日、{1} も購入すれば、 {0} お得になります。</string>
    <key>IDS_TXT_SEARCH-TITLE_A</key>
    <string>検索に名前をつけ、あなたの iHerb ホームページに加えましょう。</string>
    <key>IDS_TXT_SEE-PRICE-IN-CART</key>
    <string>カートに入れて値段を見る</string>
    <key>IDS_TXT_SELECT-AND-CONTINUE-BELOW</key>
    <string>入力された住所が正しければ、下の「選択&amp;amp;　続行」を選んでください:</string>
    <key>IDS_TXT_SELECT-CACHE-SETTINGS_LENGTH</key>
    <string>下記のキャッシュの長さをお選びください。</string>
    <key>IDS_TXT_SELECT-HEALTH-TOPIC</key>
    <string>使用したい健康トピックを選んで下さい</string>
    <key>IDS_TXT_SELECT-ICON-IMAGE_A</key>
    <string>ご希望のイメージを選択してください</string>
    <key>IDS_TXT_SELECT-ORDER-NUMBER</key>
    <string>下記のリストから注文を選ぶ</string>
    <key>IDS_TXT_SELECT-PRODUCT-CATEGORY_A</key>
    <string>ご希望の商品カテゴリを選択してください</string>
    <key>IDS_TXT_SELECT-PRODUCT-FROM-YOUR-ORDER</key>
    <string>注文から商品を選ぶ</string>
    <key>IDS_TXT_SELECT-SAVED-SEARCH_A</key>
    <string>ご希望の保存された検索名を選択してください。</string>
    <key>IDS_TXT_SEND-CODE</key>
    <string>コードを送る</string>
    <key>IDS_TXT_SHARE-PRODUCT</key>
    <string>iHerb.comで見つけた商品です。よかったら見てください。</string>
    <key>IDS_TXT_SHARED-CART</key>
    <string>下記の共有の商品をカートに入れるには、「カートに入れる」ボタンをクリックします。後で、カートの中身を変更することができます。</string>
    <key>IDS_TXT_SHIPPING-WEIGHT</key>
    <string>荷物の重量には、商品、梱包財、ダンボールなどが含まれています。また、荷物の重量は、ダンボールの３辺(縦、横、高さ)の寸法も考慮されています。特定の商品(ガラスの容器、液体、割物、保冷財が必要なものなど)は、多くの梱包財を必要とします。その場合、余分な梱包財を必要としない商品に比べて、送料が高くなることがあります。</string>
    <key>IDS_TXT_SIGN-IN-WITH-EMAIL</key>
    <string>パスワードを忘れてしまった人は、Eメールからログインできます。パスワードなしでログインできるように、次の画面で入力できるコードをEメールでお送りします。</string>
    <key>IDS_TXT_UPDATE-YOUR-PROFILE-INFO</key>
    <string>プロファイルを更新する</string>
    <key>IDS_TXT_VERIFICATION-EMAIL-NOTICE</key>
    <string>Eメールの変更後、iHerbより承認メールが送られます。その中にある手順に従い、更新過程を完了させて下さい。</string>
    <key>IDS_TXT_VIEW-YOUR-CUSTOMIZED-HOMEPAGE</key>
    <string>カスタマイズしたホームページを見る</string>
    <key>IDS_TXT_XE-CONVERSION-RATES_A</key>
    <string>XE.comによるおおよその換算率 - 毎日更新されます。ご注文は、米国ドルにて処理されます。</string>
  </dict>
</plist>
