<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>IDS_BTN_ADD-ANOTHER-ITEM</key>
    <string>添加另外的商品</string>
    <key>IDS_BTN_ADD-BILLING-ADDRESS_A</key>
    <string>添加帐单地址</string>
    <key>IDS_BTN_ADD-BOTH-TO-CART</key>
    <string>将两个都加入购物车</string>
    <key>IDS_BTN_ADD-FOLDER-TO-CART</key>
    <string>将清单加入购物车</string>
    <key>IDS_BTN_ADD-NEW-FOLDER_A</key>
    <string>添加新的文件夹</string>
    <key>IDS_BTN_ADD-PAYMENT-METHOD_A</key>
    <string>增加付款方式</string>
    <key>IDS_BTN_ADD-PERSONAL-INFORMATION_A</key>
    <string>添加个人信息</string>
    <key>IDS_BTN_ADD-PHOTO</key>
    <string>添加照片</string>
    <key>IDS_BTN_ADD-REWARDS-ADDRESS_A</key>
    <string>添加奖励地址</string>
    <key>IDS_BTN_ADD-SHIPPING-ADDRESS_A</key>
    <string>添加送货地址</string>
    <key>IDS_BTN_ADD-TO-CART</key>
    <string>加入购物车</string>
    <key>IDS_BTN_ADD-TO-WISH-LIST</key>
    <string>添加到意愿清单</string>
    <key>IDS_BTN_APP-DEMO_A</key>
    <string>应用演示</string>
    <key>IDS_BTN_APPLY</key>
    <string>采用</string>
    <key>IDS_BTN_APPLY-CODE</key>
    <string>使用码券</string>
    <key>IDS_BTN_CALCULATE</key>
    <string>计算</string>
    <key>IDS_BTN_CANCEL</key>
    <string>取消</string>
    <key>IDS_BTN_CHOOSE-EXISTING-PHOTO</key>
    <string>选择已有图片</string>
    <key>IDS_BTN_CLEAR-CACHE</key>
    <string>清除缓存</string>
    <key>IDS_BTN_CLEAR_A</key>
    <string>清空</string>
    <key>IDS_BTN_COMBINE-BOTH-CARTS</key>
    <string>合并两个购物车</string>
    <key>IDS_BTN_COMPLETE-PAYMENT</key>
    <string>完成付款</string>
    <key>IDS_BTN_CONTINUE</key>
    <string>继续</string>
    <key>IDS_BTN_CONTINUE-TO-APP</key>
    <string>继续App</string>
    <key>IDS_BTN_COPY-TO-WISH-LIST_A</key>
    <string>复制到意愿清单</string>
    <key>IDS_BTN_CREATE-ACCOUNT</key>
    <string>创建账户</string>
    <key>IDS_BTN_CREATE-NEW-SAVED-SEARCH_A</key>
    <string>创建一个新的已存搜索</string>
    <key>IDS_BTN_CUSTOMIZABLE-HOMEPAGE_A</key>
    <string>可订制的主页</string>
    <key>IDS_BTN_DELETE-REVIEW</key>
    <string>删除评论</string>
    <key>IDS_BTN_DISMISS</key>
    <string>关闭</string>
    <key>IDS_BTN_DONE</key>
    <string>完成</string>
    <key>IDS_BTN_EDIT</key>
    <string>编辑</string>
    <key>IDS_BTN_ENTER-CODES</key>
    <string>输入码券</string>
    <key>IDS_BTN_FORGOT-PASSWORD</key>
    <string>忘记密码</string>
    <key>IDS_BTN_HELPFUL_A</key>
    <string>有用的</string>
    <key>IDS_BTN_MAKE-DEFAULT</key>
    <string>设为默认值</string>
    <key>IDS_BTN_NO</key>
    <string>不要</string>
    <key>IDS_BTN_OK</key>
    <string>确认</string>
    <key>IDS_BTN_REFINE_A</key>
    <string>细化</string>
    <key>IDS_BTN_REMOVE</key>
    <string>删除</string>
    <key>IDS_BTN_REMOVE-ALL-ITEMS</key>
    <string>删除全部产品</string>
    <key>IDS_BTN_REPORT-ABUSE</key>
    <string>报告滥用行为</string>
    <key>IDS_BTN_RESET_A</key>
    <string>重置</string>
    <key>IDS_BTN_SAVE</key>
    <string>保存</string>
    <key>IDS_BTN_SAVE-AND-CONTINUE</key>
    <string>保存后继续</string>
    <key>IDS_BTN_SAVE-CART-TO-WISHLIST</key>
    <string>将购物车保存至愿望清单</string>
    <key>IDS_BTN_SAVE-CHANGES_A</key>
    <string>保存修改</string>
    <key>IDS_BTN_SAVE-SEARCH_A</key>
    <string>保存搜索</string>
    <key>IDS_BTN_SEE-ALL-REVIEWS</key>
    <string>查看所有评论</string>
    <key>IDS_BTN_SKIP-SIGN-IN</key>
    <string>跳过登录</string>
    <key>IDS_BTN_SKIP-VERIFICATION</key>
    <string>略过验证</string>
    <key>IDS_BTN_SUBMIT-REVIEW</key>
    <string>提交评价</string>
    <key>IDS_BTN_TAKE-PHOTO</key>
    <string>拍照</string>
    <key>IDS_BTN_TAP-TO-EXIT-HOMEPAGE-EDIT-MODE</key>
    <string>点击这里退出主页编辑模式</string>
    <key>IDS_BTN_USE-CURRENT-CART</key>
    <string>使用现在的购物车</string>
    <key>IDS_BTN_USE-PREVIOUS-CART</key>
    <string>使用之前的购物车</string>
    <key>IDS_BTN_YES</key>
    <string>确认</string>
    <key>IDS_ERR_ADD-A-CREDIT-CARD</key>
    <string>请继续您的结帐流程，之后就可以加入一个新的信用卡。</string>
    <key>IDS_ERR_ADDRESS-LINE1-REQUIRED</key>
    <string>地址行1必须填写</string>
    <key>IDS_ERR_ADDRESS-LINE2-REQUIRED</key>
    <string>需要填写地址栏2</string>
    <key>IDS_ERR_BAD-REQUEST</key>
    <string>完成此请求存在一个问题。</string>
    <key>IDS_ERR_CITY-REQUIRED</key>
    <string>城市必须填写</string>
    <key>IDS_ERR_CONFIRM-PASSWORD-REQUIRED</key>
    <string>密码确认必须填写</string>
    <key>IDS_ERR_CONSIGNEE-NAME-REQUIRED</key>
    <string>收件人名必须填写</string>
    <key>IDS_ERR_COUNTRY-REQUIRED</key>
    <string>需要填写国家</string>
    <key>IDS_ERR_EMAIL-ADDRESS-REQUIRED</key>
    <string>电子邮箱地址必须填写</string>
    <key>IDS_ERR_FIELDS-MISSING-IN-FORM</key>
    <string>您有一个或多个需要填写的信息没有填写。请您核实已经输入的信息后重试。</string>
    <key>IDS_ERR_FOLDER-ALREADY-EXISTS</key>
    <string>清单已经存在</string>
    <key>IDS_ERR_FULL-NAME-REQUIRED</key>
    <string>全名必须填写</string>
    <key>IDS_ERR_IMAGE-ATTACHMENTS-TOO-BIG</key>
    <string>附件图片总尺寸过大.</string>
    <key>IDS_ERR_ISSUE-TYPE-REQUIRED</key>
    <string>问题类型必填.</string>
    <key>IDS_ERR_LOGIN-FAILED</key>
    <string>由于某些原因导致了登录失败。请您联络我们的顾客服务部或是您可以晚一点以后再试。</string>
    <key>IDS_ERR_LOGIN-TO-CUSTOMIZE-HOMEPAGE_A</key>
    <string>请登录来个性化您的主页。</string>
    <key>IDS_ERR_NEW-PASSWORD-REQUIRED</key>
    <string>需要新的密码</string>
    <key>IDS_ERR_OLD-PASSWORD-REQUIRED</key>
    <string>之前的密码必须填写</string>
    <key>IDS_ERR_ORDER-NUMBER-REQUIRED</key>
    <string>订单号码是必填的.</string>
    <key>IDS_ERR_PASSWORD-REQUIRED</key>
    <string>密码必须填写</string>
    <key>IDS_ERR_PHONE-NUMBER-REQUIRED</key>
    <string>正确的电话号码必须填写</string>
    <key>IDS_ERR_POSTAL-REQUIRED</key>
    <string>邮编必须填写。</string>
    <key>IDS_ERR_PRODUCT-REQUIRED</key>
    <string>商品是必填项.</string>
    <key>IDS_ERR_REASON-REQUIRED</key>
    <string>原因是必填的.</string>
    <key>IDS_ERR_REVIEW-IS-REQUIRED</key>
    <string>评论必须填写。</string>
    <key>IDS_ERR_REVIEW-TITLE-REQUIRED</key>
    <string>评论的标题必须填写。</string>
    <key>IDS_ERR_REWARDS-CODE-IS-REQUIRED</key>
    <string>需要提供优惠码</string>
    <key>IDS_ERR_STATE-PROVINCE-REGION-REQUIRED</key>
    <string>州/省/领地/地区必须填写</string>
    <key>IDS_ERR_STATE-REQUIRED</key>
    <string>州/省必须填写。</string>
    <key>IDS_ERR_SUBURB-REQUIRED</key>
    <string>郊区必填。</string>
    <key>IDS_ERR_TRY-AGAIN-LATER</key>
    <string>过一段时间请重试一次。如果问题仍然存在，请跟我们的顾客服务部联络。</string>
    <key>IDS_ERR_ZIP-POSTAL-REQUIRED</key>
    <string>邮编必须填写</string>
    <key>IDS_GEN_CART</key>
    <string>购物车</string>
    <key>IDS_GEN_CHANGE-PASSWORD</key>
    <string>更改密码</string>
    <key>IDS_GEN_DISCLAIMER</key>
    <string>免责声明</string>
    <key>IDS_GEN_EXPIRATION-DATE</key>
    <string>过期日期</string>
    <key>IDS_GEN_HEALTH-TOPICS</key>
    <string>健康主题</string>
    <key>IDS_GEN_HOME</key>
    <string>首页</string>
    <key>IDS_GEN_INTERNATIONAL</key>
    <string>国际</string>
    <key>IDS_GEN_MODIFY-ORDER</key>
    <string>更改订单</string>
    <key>IDS_GEN_MODIFY-ORDER-ITEMS</key>
    <string>更改订单项目</string>
    <key>IDS_GEN_MODIFY-SHIPPING-ADDRESS</key>
    <string>更改收件地址</string>
    <key>IDS_GEN_MODIFY-SHIPPING-METHOD_A</key>
    <string>调整运输方式</string>
    <key>IDS_GEN_MY-IHERB-PAGE</key>
    <string>我的iHerb地盘</string>
    <key>IDS_GEN_NOTIFICATION-LIST</key>
    <string>通知列表</string>
    <key>IDS_GEN_NOTIFY-ME</key>
    <string>通知我</string>
    <key>IDS_GEN_ORDER-HISTORY</key>
    <string>订单记录</string>
    <key>IDS_GEN_ORDER-SUMMARY</key>
    <string>订单汇总</string>
    <key>IDS_GEN_PERSONAL-INFORMATION</key>
    <string>个人信息</string>
    <key>IDS_GEN_PRIVACY-POLICY</key>
    <string>隐私政策</string>
    <key>IDS_GEN_RELATED-PRODUCTS</key>
    <string>相关产品</string>
    <key>IDS_GEN_REORDER</key>
    <string>重购</string>
    <key>IDS_GEN_RESET-PASSWORD</key>
    <string>重设密码</string>
    <key>IDS_GEN_REWARDS</key>
    <string>奖励</string>
    <key>IDS_GEN_SEARCH</key>
    <string>搜索</string>
    <key>IDS_GEN_SETTINGS_A</key>
    <string>设置</string>
    <key>IDS_GEN_SHARE-YOUR-CART</key>
    <string>分享您的购物车</string>
    <key>IDS_GEN_SHIPPING-CALCULATOR</key>
    <string>运费计算器</string>
    <key>IDS_GEN_SHIPPING-INFORMATION</key>
    <string>运送信息</string>
    <key>IDS_GEN_SHIPPING-WEIGHT-COLON</key>
    <string>运送重量:</string>
    <key>IDS_GEN_SHIPPING-WEIGHT_A</key>
    <string>运送重量</string>
    <key>IDS_GEN_SIGN-IN</key>
    <string>登入</string>
    <key>IDS_GEN_TERMS-AND-CONDITIONS</key>
    <string>条款和条件</string>
    <key>IDS_GEN_WISHLIST</key>
    <string>愿望清单</string>
    <key>IDS_GEN_WRITE-A-REVIEW</key>
    <string>发表评论</string>
    <key>IDS_HDR_ALL-CATEGORIES</key>
    <string>所有类别</string>
    <key>IDS_HDR_BENEFITS-SHOPPING-WITH-IHERB</key>
    <string>跟iHerb购物的好处</string>
    <key>IDS_HDR_PASSWORD-RESET</key>
    <string>重设密码</string>
    <key>IDS_HDR_PRODUCT-OVERVIEW</key>
    <string>产品概述</string>
    <key>IDS_LBL-MENU</key>
    <string>菜单</string>
    <key>IDS_LBL_ABOUT-IHERB</key>
    <string>关于 iHerb</string>
    <key>IDS_LBL_ACCOUNT-NOTIFICATIONS</key>
    <string>帐户提醒</string>
    <key>IDS_LBL_ACCOUNT-NUMBER_A</key>
    <string>帐户号码</string>
    <key>IDS_LBL_ADD-NEW-BILLING-ADDRESS_A</key>
    <string>添加新的帐单地址</string>
    <key>IDS_LBL_ADD-NEW-SHIPPING-ADDRESS_A</key>
    <string>添加新的送货地址</string>
    <key>IDS_LBL_ADDRESS-1-AUSTRALIA</key>
    <string>街道地址, 邮政信箱, 公司名称, c/o</string>
    <key>IDS_LBL_ADDRESS-2-AUSTRALIA</key>
    <string>公寓，套房，单元，大厦，楼层等</string>
    <key>IDS_LBL_ADDRESS-LINE1</key>
    <string>地址行1</string>
    <key>IDS_LBL_ADDRESS-LINE2</key>
    <string>地址行2</string>
    <key>IDS_LBL_ADDRESS-VERIFICATION</key>
    <string>地址验证</string>
    <key>IDS_LBL_ALSO-CREATE-BILLING-ADDRESS_A</key>
    <string>也创建帐单地址</string>
    <key>IDS_LBL_ALSO-CREATE-SHIPPING-ADDRESS_A</key>
    <string>也创建送货地址</string>
    <key>IDS_LBL_AROMATHERAPY</key>
    <string>芳香疗法</string>
    <key>IDS_LBL_AVAILABLE-COLON</key>
    <string>可用:</string>
    <key>IDS_LBL_BATH-AND-BEAUTY</key>
    <string>洗护</string>
    <key>IDS_LBL_BEST-RATING</key>
    <string>最好评价</string>
    <key>IDS_LBL_BEST-SELLERS</key>
    <string>最畅销</string>
    <key>IDS_LBL_BEST-SELLING</key>
    <string>最畅销的</string>
    <key>IDS_LBL_BILLING-ADDRESS</key>
    <string>账单地址</string>
    <key>IDS_LBL_BRANDS</key>
    <string>品牌</string>
    <key>IDS_LBL_CACHE-CLEARED</key>
    <string>缓存已清除</string>
    <key>IDS_LBL_CACHING</key>
    <string>缓存</string>
    <key>IDS_LBL_CACHING-LENGTH</key>
    <string>缓存长度</string>
    <key>IDS_LBL_CALCULATE-SHIPPING-COSTS_A</key>
    <string>计算运费:</string>
    <key>IDS_LBL_CANCEL-ORDER</key>
    <string>取消订单</string>
    <key>IDS_LBL_CASH-ON-DELIVERY</key>
    <string>货到付款</string>
    <key>IDS_LBL_CATEGORIES</key>
    <string>类别</string>
    <key>IDS_LBL_CITY</key>
    <string>城市</string>
    <key>IDS_LBL_CLEARANCE_ITEMS</key>
    <string>清仓</string>
    <key>IDS_LBL_CONFIRM-PASSWORD</key>
    <string>确认密码</string>
    <key>IDS_LBL_CONSIGNEE-NAME</key>
    <string>收件人姓名</string>
    <key>IDS_LBL_COPY-ME-IN-EMAIL</key>
    <string>在邮件中复制我</string>
    <key>IDS_LBL_COUNTRY</key>
    <string>国家</string>
    <key>IDS_LBL_CREAMS-LOTIONS</key>
    <string>霜、乳液</string>
    <key>IDS_LBL_CURRENCY_A</key>
    <string>货币</string>
    <key>IDS_LBL_CURRENT-CART</key>
    <string>当前购物车</string>
    <key>IDS_LBL_CUSTOMER-INFORMATION</key>
    <string>客户信息</string>
    <key>IDS_LBL_CUSTOMER-SERVICE</key>
    <string>顾客服务部</string>
    <key>IDS_LBL_DATE-COLON</key>
    <string>日期：</string>
    <key>IDS_LBL_DEALS</key>
    <string>优惠</string>
    <key>IDS_LBL_DELIVERED-ON</key>
    <string>已收货：</string>
    <key>IDS_LBL_DESCRIPTION</key>
    <string>说明</string>
    <key>IDS_LBL_DESCRIPTION-OF-ISSUE</key>
    <string>问题描述</string>
    <key>IDS_LBL_DIET-AND-WEIGHT-LOSS</key>
    <string>饮食&amp;减肥</string>
    <key>IDS_LBL_DIMENSIONS</key>
    <string>尺寸</string>
    <key>IDS_LBL_DISCOUNT-COLON</key>
    <string>折扣:</string>
    <key>IDS_LBL_DISCOUNT-S-COLON</key>
    <string>折扣:</string>
    <key>IDS_LBL_EDIT-BILLING-ADDRESS</key>
    <string>编辑账单地址</string>
    <key>IDS_LBL_EDIT-REVIEW</key>
    <string>编辑评论</string>
    <key>IDS_LBL_EDIT-SHIPPING-ADDRESS</key>
    <string>编辑收件地址</string>
    <key>IDS_LBL_EMAIL-ADDRESS</key>
    <string>电子邮件地址</string>
    <key>IDS_LBL_EMAIL-UPDATE</key>
    <string>邮件更新</string>
    <key>IDS_LBL_ENABLE-TOUCH-ID</key>
    <string>启用触摸ID</string>
    <key>IDS_LBL_ENTER-CODE</key>
    <string>输入券码</string>
    <key>IDS_LBL_ESTIMATED-DELIVERY</key>
    <string>预计交货:</string>
    <key>IDS_LBL_ESTIMATED-ORDER-TOTAL-COLON</key>
    <string>订单总额估计：</string>
    <key>IDS_LBL_ESTIMATED-TOTAL-IN-LOCALIZED_A</key>
    <string>Estimated Order Total in Your Currency</string>
    <key>IDS_LBL_EXP</key>
    <string>过期</string>
    <key>IDS_LBL_EXTERNAL-PAYMENT-NOT-COMPLETE</key>
    <string>您使用的{0}支付尚未完成！</string>
    <key>IDS_LBL_FILL-PASSPORT-NUMBER</key>
    <string>护照号码</string>
    <key>IDS_LBL_FOLDER-NAME_A</key>
    <string>文件夹名称</string>
    <key>IDS_LBL_FROM_A</key>
    <string>来自</string>
    <key>IDS_LBL_FULL-NAME</key>
    <string>全名（名和姓）</string>
    <key>IDS_LBL_GROCERY</key>
    <string>百货</string>
    <key>IDS_LBL_HEALTHY-HOME</key>
    <string>健康家居</string>
    <key>IDS_LBL_HEAVIEST-TO-LIGHTEST_A</key>
    <string>最重到最轻</string>
    <key>IDS_LBL_HERBS</key>
    <string>草药</string>
    <key>IDS_LBL_HIDE</key>
    <string>隐藏</string>
    <key>IDS_LBL_HIGH-TO-LOW</key>
    <string>从高到低</string>
    <key>IDS_LBL_HIGHEST-PRICE</key>
    <string>最高价</string>
    <key>IDS_LBL_IMPORTANT-NOTE</key>
    <string>重要注意事项:</string>
    <key>IDS_LBL_IN-STOCK-COLON</key>
    <string>有库存:</string>
    <key>IDS_LBL_IN-STOCK-NOTIFICATIONS_A</key>
    <string>到货提醒</string>
    <key>IDS_LBL_INFORMATION</key>
    <string>信息</string>
    <key>IDS_LBL_ISSUE-INFORMATION</key>
    <string>问题信息</string>
    <key>IDS_LBL_ISSUE-WITH-ENTIRE-ORDER</key>
    <string>整个订单的问题</string>
    <key>IDS_LBL_ISSUE-WITH-INDIVIDUAL-PRODUCTS</key>
    <string>个别商品的问题</string>
    <key>IDS_LBL_ITEM-PRICE</key>
    <string>商品价格</string>
    <key>IDS_LBL_ITEMS-COUNT</key>
    <string>{0} 个产品</string>
    <key>IDS_LBL_KIDS-AND-BABIES</key>
    <string>母婴</string>
    <key>IDS_LBL_LANGUAGE-CURRENCY</key>
    <string>语言/货币</string>
    <key>IDS_LBL_LANGUAGE_A</key>
    <string>语言</string>
    <key>IDS_LBL_LARGE-ICON_A</key>
    <string>大图标</string>
    <key>IDS_LBL_LEAVE</key>
    <string>离开</string>
    <key>IDS_LBL_LESS</key>
    <string>少点</string>
    <key>IDS_LBL_LIGHTEST-TO-HEAVIEST_A</key>
    <string>最轻到最重</string>
    <key>IDS_LBL_LOW-TO-HIGH</key>
    <string>从低到高</string>
    <key>IDS_LBL_LOWEST-PRICE</key>
    <string>最低价</string>
    <key>IDS_LBL_LOYALTY-CREDIT</key>
    <string>忠诚奖励</string>
    <key>IDS_LBL_MAKE-SELECTION</key>
    <string>请选择</string>
    <key>IDS_LBL_MAX</key>
    <string>最大</string>
    <key>IDS_LBL_METHOD</key>
    <string>方法</string>
    <key>IDS_LBL_MINIMUM-CUSTOMER-RATING_A</key>
    <string>最低客户评价</string>
    <key>IDS_LBL_MODIFY-ORDER-INFO_A</key>
    <string>调整订单信息</string>
    <key>IDS_LBL_MODIFY-ORDER-ITEM-QUANTITY_A</key>
    <string>调整订单产品数量</string>
    <key>IDS_LBL_MORE</key>
    <string>更多</string>
    <key>IDS_LBL_MOST-HELPFUL</key>
    <string>最有帮助</string>
    <key>IDS_LBL_MY-FOLDERS</key>
    <string>我的产品清单</string>
    <key>IDS_LBL_MY-REVIEWS</key>
    <string>我的产品评论</string>
    <key>IDS_LBL_MY-SAVED-SEARCHES_A</key>
    <string>我的已存搜索</string>
    <key>IDS_LBL_NEW</key>
    <string>新产品</string>
    <key>IDS_LBL_NEW-PASSWORD</key>
    <string>新的密码</string>
    <key>IDS_LBL_NEWEST</key>
    <string>最新</string>
    <key>IDS_LBL_NOTIFICATIONS_A</key>
    <string>提醒</string>
    <key>IDS_LBL_OLD-PASSWORD</key>
    <string>旧的密码</string>
    <key>IDS_LBL_OPTIONAL</key>
    <string>非必填</string>
    <key>IDS_LBL_ORDER-CANCELLATION</key>
    <string>订单取消</string>
    <key>IDS_LBL_ORDER-CONFIRMATION</key>
    <string>订单确认</string>
    <key>IDS_LBL_ORDER-INFORMATION</key>
    <string>订单信息</string>
    <key>IDS_LBL_ORDER-ITEMS_A</key>
    <string>订购商品</string>
    <key>IDS_LBL_ORDER-MODIFICATION</key>
    <string>订单调整</string>
    <key>IDS_LBL_ORDER-NOTIFICATIONS</key>
    <string>订单提醒</string>
    <key>IDS_LBL_ORDER-NUMBER</key>
    <string>订单号码</string>
    <key>IDS_LBL_ORDER-NUMBER-COLON</key>
    <string>订单号：</string>
    <key>IDS_LBL_ORDER-SHIPPING</key>
    <string>订单运输</string>
    <key>IDS_LBL_ORDER-STATUS</key>
    <string>订单状态</string>
    <key>IDS_LBL_ORDER-TOTAL-COLON_A</key>
    <string>订单共计l:</string>
    <key>IDS_LBL_ORDER-TOTALS</key>
    <string>订单总额:</string>
    <key>IDS_LBL_OTHER-INFORMATION</key>
    <string>其他信息</string>
    <key>IDS_LBL_OTHER-INGREDIENTS</key>
    <string>其他成份</string>
    <key>IDS_LBL_PACKAGE-NUMBER-OF-TOTAL</key>
    <string>{0} of {1}</string>
    <key>IDS_LBL_PACKAGE-QUANTITY</key>
    <string>包裹里的产品数量</string>
    <key>IDS_LBL_PACKAGES</key>
    <string>包裹</string>
    <key>IDS_LBL_PAID-WITH-EXTERNAL-PAYMENT</key>
    <string>使用 {0} 已付</string>
    <key>IDS_LBL_PASSWORD</key>
    <string>密码</string>
    <key>IDS_LBL_PAYMENT-METHOD</key>
    <string>付款方式</string>
    <key>IDS_LBL_PENDING-COLON</key>
    <string>等待中：</string>
    <key>IDS_LBL_PETS</key>
    <string>宠物</string>
    <key>IDS_LBL_PHONE-NUMBER</key>
    <string>电话号码</string>
    <key>IDS_LBL_POSTAL-CODE</key>
    <string>邮编号码</string>
    <key>IDS_LBL_PREVIOUS-CART</key>
    <string>之前的购物车</string>
    <key>IDS_LBL_PRICE</key>
    <string>价格</string>
    <key>IDS_LBL_PRICE-COLON</key>
    <string>价格：</string>
    <key>IDS_LBL_PRICE-TOGETHER</key>
    <string>合计价格</string>
    <key>IDS_LBL_PRODUCT</key>
    <string>产品</string>
    <key>IDS_LBL_PRODUCT-CATEGORIES</key>
    <string>产品类别</string>
    <key>IDS_LBL_PRODUCT-CODE</key>
    <string>产品代码</string>
    <key>IDS_LBL_PRODUCTS</key>
    <string>产品</string>
    <key>IDS_LBL_QTY-COLON</key>
    <string>数量：</string>
    <key>IDS_LBL_RATING</key>
    <string>评估</string>
    <key>IDS_LBL_RECOMMENDATIONS</key>
    <string>产品建议</string>
    <key>IDS_LBL_RELEVANCE</key>
    <string>有关联的</string>
    <key>IDS_LBL_REMOVED_A</key>
    <string>移除</string>
    <key>IDS_LBL_RESHIP-OF-ORDER</key>
    <string>订单重新邮寄</string>
    <key>IDS_LBL_RESHIPPED-UNDER-ORD</key>
    <string>在订单基础上重新邮寄</string>
    <key>IDS_LBL_REVIEW</key>
    <string>评论</string>
    <key>IDS_LBL_REVIEW-APP_A</key>
    <string>评论应用</string>
    <key>IDS_LBL_REVIEW-TITLE</key>
    <string>评论标题</string>
    <key>IDS_LBL_REVIEWS</key>
    <string>评论</string>
    <key>IDS_LBL_REWARDS-ADDRESS</key>
    <string>奖励支付地址</string>
    <key>IDS_LBL_REWARDS-CODE</key>
    <string>礼券码</string>
    <key>IDS_LBL_REWARDS-CREDIT</key>
    <string>积分信用</string>
    <key>IDS_LBL_SAME-AS-SHIPPING-ADDRESS</key>
    <string>与送货地址相同</string>
    <key>IDS_LBL_SAVED-SEARCHES_A</key>
    <string>已存搜索</string>
    <key>IDS_LBL_SAVINGS</key>
    <string>节省</string>
    <key>IDS_LBL_SAVINGS-COLON</key>
    <string>节省:</string>
    <key>IDS_LBL_SEARCH-HISTORY</key>
    <string>搜索历史</string>
    <key>IDS_LBL_SELECT-CURRENCY</key>
    <string>选择您的货币形式</string>
    <key>IDS_LBL_SELECT-FROM-SAVED-ADDRESSES_M</key>
    <string>从保存的地址里选择</string>
    <key>IDS_LBL_SELECT-LANGUAGE</key>
    <string>选择您的语言</string>
    <key>IDS_LBL_SELECT-PREFERENCES</key>
    <string>选择您的邮寄目的地，货币和语言。</string>
    <key>IDS_LBL_SELECT-PRODUCT</key>
    <string>选择商品</string>
    <key>IDS_LBL_SELECT-REASON</key>
    <string>选择原因</string>
    <key>IDS_LBL_SELECT-SHIPPING-METHOD</key>
    <string>从以下的运送方式中进行选择</string>
    <key>IDS_LBL_SELECT-YOUR-COUNTRY</key>
    <string>选择您的国家</string>
    <key>IDS_LBL_SHIPPING</key>
    <string>运送</string>
    <key>IDS_LBL_SHIPPING-ADDRESS</key>
    <string>收件地址</string>
    <key>IDS_LBL_SHIPPING-ADDRESS-COLON</key>
    <string>收件地址:</string>
    <key>IDS_LBL_SHIPPING-METHOD</key>
    <string>运送方式</string>
    <key>IDS_LBL_SHOW</key>
    <string>显示</string>
    <key>IDS_LBL_SIGNIN_WITH_EMAIL</key>
    <string>使用邮箱登录</string>
    <key>IDS_LBL_SMALL-ICON_A</key>
    <string>小图标</string>
    <key>IDS_LBL_SORT-BY</key>
    <string>排序方式</string>
    <key>IDS_LBL_SORT_A</key>
    <string>分类</string>
    <key>IDS_LBL_SPECIALS</key>
    <string>特价产品</string>
    <key>IDS_LBL_SPORTS</key>
    <string>运动健身</string>
    <key>IDS_LBL_STATE-REGION</key>
    <string>州／省</string>
    <key>IDS_LBL_STATE-TERRITORY</key>
    <string>国家 /区域</string>
    <key>IDS_LBL_STATUS-COLON</key>
    <string>状态:</string>
    <key>IDS_LBL_SUBCATEGORIES_A</key>
    <string>小类</string>
    <key>IDS_LBL_SUBMIT</key>
    <string>提交</string>
    <key>IDS_LBL_SUBTOTAL-COLON</key>
    <string>小计:</string>
    <key>IDS_LBL_SUBURB</key>
    <string>市郊</string>
    <key>IDS_LBL_SUGGESTED-USE</key>
    <string>建议的使用方式</string>
    <key>IDS_LBL_SUPERFOODS</key>
    <string>超级食品</string>
    <key>IDS_LBL_SUPPLEMENTS</key>
    <string>保健品</string>
    <key>IDS_LBL_TAX</key>
    <string>税</string>
    <key>IDS_LBL_TOTAL-CANCELLED</key>
    <string>产品取消总数</string>
    <key>IDS_LBL_TOTAL-COLON</key>
    <string>总额:</string>
    <key>IDS_LBL_TOTAL-ORDERS</key>
    <string>{0} 个订单</string>
    <key>IDS_LBL_TOTAL-WEIGHT-COLON</key>
    <string>总重量：</string>
    <key>IDS_LBL_TRACKING-COLON</key>
    <string>包裹追踪：</string>
    <key>IDS_LBL_TRACKING-NUMBER</key>
    <string>追踪号码:</string>
    <key>IDS_LBL_TRIALS</key>
    <string>试用</string>
    <key>IDS_LBL_UNITED-STATES</key>
    <string>美国</string>
    <key>IDS_LBL_UPC-CODE</key>
    <string>UPC代码</string>
    <key>IDS_LBL_UPDATE-SELECTION-SETTINGS</key>
    <string>您可以在设置中更新信息。</string>
    <key>IDS_LBL_WARNINGS</key>
    <string>警告</string>
    <key>IDS_LBL_WEIGHT</key>
    <string>重量</string>
    <key>IDS_LBL_WEIGHT-COLON</key>
    <string>重量：</string>
    <key>IDS_LBL_ZIP-POSTAL</key>
    <string>邮政编码</string>
    <key>IDS_LBL_ZIP-POSTAL-CODE-COLON_A</key>
    <string>邮编:</string>
    <key>IDS_LNK_ACNE</key>
    <string>痤疮</string>
    <key>IDS_LNK_ALLERGIES</key>
    <string>过敏</string>
    <key>IDS_LNK_ANXIETY</key>
    <string>焦虑症</string>
    <key>IDS_LNK_CLOSE</key>
    <string>关闭</string>
    <key>IDS_LNK_COLD-FLU-VIRAL</key>
    <string>感冒、流感、 &amp;amp; 病毒</string>
    <key>IDS_LNK_DELETE</key>
    <string>删除</string>
    <key>IDS_LNK_DIET-WEIGHT-LOSS</key>
    <string>饮食，减肥</string>
    <key>IDS_LNK_HAIR-ALOPECIA</key>
    <string>头发，脱发支援</string>
    <key>IDS_LNK_HEADACHE</key>
    <string>头痛</string>
    <key>IDS_LNK_INFLAMMATION</key>
    <string>发炎</string>
    <key>IDS_LNK_JOINTS-LIGAMENTS</key>
    <string>关节，韧带</string>
    <key>IDS_LNK_KIDNEY-BLADDER</key>
    <string>肾脏，膀胱</string>
    <key>IDS_LNK_LEARN-MORE-LOYALTY-CREDIT</key>
    <string>了解更多iHerb忠诚奖励计划</string>
    <key>IDS_LNK_LEARN-MORE-REWARDS-PROGRAM</key>
    <string>了解更多iHerb奖励计划</string>
    <key>IDS_LNK_MY-ACCOUNT</key>
    <string>我的帐户</string>
    <key>IDS_LNK_SIGN-OUT</key>
    <string>登出</string>
    <key>IDS_LNK_SKIN-HEALTH</key>
    <string>皮肤健康</string>
    <key>IDS_LNK_WOMEN-HEALTH</key>
    <string>妇女健康</string>
    <key>IDS_MSG_ADDRESS-ADDED</key>
    <string>添加地址</string>
    <key>IDS_MSG_ADDRESS-DELETED</key>
    <string>地址已删除</string>
    <key>IDS_MSG_ALREADY-IN-WISH-LIST</key>
    <string>该商品已经在您的心愿单中</string>
    <key>IDS_MSG_CANCEL-ENTIRE-ORDER</key>
    <string>您确定您整个订单都要取消？</string>
    <key>IDS_MSG_CART-MAY-NOT-CONTAIN-ALL-ITEMS</key>
    <string>您的购物车可能没有包含您之前添加过的所有商品。</string>
    <key>IDS_MSG_CHECK-INTERNET-CONNECTION</key>
    <string>请检查您的网络连接.</string>
    <key>IDS_MSG_CONFIRM-CLEAR-SEARCH-HISTORY_T</key>
    <string>您确定要清除搜索历史记录？</string>
    <key>IDS_MSG_CONFIRMATION-EMAIL-SENT</key>
    <string>确认邮件已发送</string>
    <key>IDS_MSG_CONNECTION-ISSUES-ACCESSING-CART</key>
    <string>访问购物车时出现网络连接问题。</string>
    <key>IDS_MSG_COUPON-APPLIED_A</key>
    <string>优惠券已用</string>
    <key>IDS_MSG_COUPON-REMOVED</key>
    <string>优惠码移除</string>
    <key>IDS_MSG_DELETE-ADDRESS-CONFIRMATION</key>
    <string>您确定您要删除这个地址？</string>
    <key>IDS_MSG_DELETE-CREDIT-CARD-CONFIRMATION</key>
    <string>您确定您要删除这张信用卡？</string>
    <key>IDS_MSG_DELETE-FOLDER-CONFIRMATION</key>
    <string>您确定您要删除这个清单？</string>
    <key>IDS_MSG_DELETE-ICON-CONFRIMATION</key>
    <string>您确定要删除这个图标？</string>
    <key>IDS_MSG_DELETE-ITEM-CONFIRMATION</key>
    <string>您确定想要删除该商品？</string>
    <key>IDS_MSG_DID-YOU-MEAN</key>
    <string>您要找的是不是 {0}?</string>
    <key>IDS_MSG_EDIT-BILLING-ADDRESS_A</key>
    <string>编辑下面您的帐单地址</string>
    <key>IDS_MSG_EDIT-FOLDER-NAME-AND-SAVE_A</key>
    <string>在下方编辑资料夹名称, 并点击储存</string>
    <key>IDS_MSG_EDIT-SHIPPING-ADDRESS_A</key>
    <string>编辑下面您的送货地址</string>
    <key>IDS_MSG_EMAIL-SENT</key>
    <string>邮件已发送</string>
    <key>IDS_MSG_FOLDER-ADDED-TO-CART_A</key>
    <string>文件夹添加到购物篮</string>
    <key>IDS_MSG_HERE-ARE-SOME-SIMILAR-PRODUCTS</key>
    <string>购买此商品的顾客也同时购买</string>
    <key>IDS_MSG_ITEM-ADDED-TO-CART_A</key>
    <string>产品添加至购物篮</string>
    <key>IDS_MSG_ITEM-ADDED-TO-WISHLIST</key>
    <string>产品已加入愿望清单</string>
    <key>IDS_MSG_ITEM-DELETED_A</key>
    <string>产品已删除</string>
    <key>IDS_MSG_ITEM-REMOVED</key>
    <string>产品已移除</string>
    <key>IDS_MSG_ITEMS-ADDED</key>
    <string>已添加产品进购物车里。</string>
    <key>IDS_MSG_ITEMS-COPIED_A</key>
    <string>产品复制</string>
    <key>IDS_MSG_ITEMS-MOVED</key>
    <string>已移动产品。</string>
    <key>IDS_MSG_LEAVE-APP-AND-OPEN-BROWSER</key>
    <string>您确定要离开iHerb App并使用外部浏览器打开链接吗？</string>
    <key>IDS_MSG_LEAVE-CHECKOUT-CONFIRMATION</key>
    <string>您确定要离开支付进程吗？</string>
    <key>IDS_MSG_LEAVE-ORDER-ISSUES-CONFIRMATION</key>
    <string>您确定您要离开订单问题处理进程?</string>
    <key>IDS_MSG_LINK-TO-CHANGE-PASSWORD_S00</key>
    <string>一个可以让您重设密码的链接已经发送到您的电子邮箱里了。</string>
    <key>IDS_MSG_LINK-TO-CHANGE-PASSWORD_S01</key>
    <string>您应该在接下来的5分钟之内会收到。</string>
    <key>IDS_MSG_LOG-OUT-CONFIRMATION</key>
    <string>您确定您要登出？</string>
    <key>IDS_MSG_NO-ITEMS-IN-WISHLIST</key>
    <string>您的愿望清单里没有任何商品。</string>
    <key>IDS_MSG_NOT-AVAILABLE</key>
    <string>无法使用</string>
    <key>IDS_MSG_NOT-RECOGNIZE-ADDRESS</key>
    <string>我们内部的地址验证系统无法辨认您输入的地址。</string>
    <key>IDS_MSG_NOTHING-TO-REMOVE</key>
    <string>没有删除</string>
    <key>IDS_MSG_NOTIFY-LIST-IN-LIST</key>
    <string>此产品已在您的愿望清单内。</string>
    <key>IDS_MSG_OPTION-UNAVAILABLE-FOR-ORDER_A</key>
    <string>选项不适用于此订单</string>
    <key>IDS_MSG_ORDER-HISTORY-EMPTY</key>
    <string>订单历史目前是空的.</string>
    <key>IDS_MSG_PASSWORD-WAS-SAVED</key>
    <string>已保存密码。</string>
    <key>IDS_MSG_PAYMENT-FAILED</key>
    <string>支付失败</string>
    <key>IDS_MSG_PAYMENT-PENDING</key>
    <string>付款等待中</string>
    <key>IDS_MSG_PAYMENT-SUCCESSFUL</key>
    <string>支付成功</string>
    <key>IDS_MSG_PLEASE-BROWSE-ADD-PRODUCTS_A</key>
    <string>请搜索或浏览商品以添加到购物篮。</string>
    <key>IDS_MSG_PRODUCT-NOT-AVAILABLE</key>
    <string>我们目前不提供此产品。</string>
    <key>IDS_MSG_QUANTITY-UPDATED</key>
    <string>数量更新</string>
    <key>IDS_MSG_REACHED-LIMIT-HOMEPAGE-ICONS_A</key>
    <string>您已达到使用限制。</string>
    <key>IDS_MSG_REMOVE-ALL-ITEMS-CONFIRMATION</key>
    <string>您确定您要删除所有的产品？</string>
    <key>IDS_MSG_REMOVE-PHOTO-CONFIRMATION</key>
    <string>您确定您要删除此照片吗?</string>
    <key>IDS_MSG_REMOVE-REVIEW-CONFIRMATION</key>
    <string>你确定要删除此评价么？</string>
    <key>IDS_MSG_REMOVE-THIS-ITEM-CONFIRMATION</key>
    <string>您确定您要删除这个产品吗？</string>
    <key>IDS_MSG_REORDER-CONFIRMATION_A</key>
    <string>您确定要重新订购吗？</string>
    <key>IDS_MSG_REWARDS-ADDRESS-NOT-APPROVED</key>
    <string>您的奖励地址还未被批准。iHerb的顾客服务部会跟您联络来批准您的奖励地址。</string>
    <key>IDS_MSG_SAVE-CHANGES-CONFIRMATION</key>
    <string>您确定想保存此修改吗？</string>
    <key>IDS_MSG_SAVED-SUCCESSIVELY_A</key>
    <string>储存成功</string>
    <key>IDS_MSG_SEARCH-RESULTS-FOR-COLON_A</key>
    <string>针对 {0} 的搜索结果:</string>
    <key>IDS_MSG_SEARCH-RESULTS-REVIEWS-COLON_A</key>
    <string>在评论中针对{0}的搜索结果:</string>
    <key>IDS_MSG_SELECT-ICON-SIZE_A</key>
    <string>您想要添加一个大的还是小的图标？</string>
    <key>IDS_MSG_SELECT-ICON-TYPE_A</key>
    <string>请选择您想要创建的图标类型</string>
    <key>IDS_MSG_SHARE-YOUR-CART</key>
    <string>查看我在iHerb.com上的购物车。</string>
    <key>IDS_MSG_SUBMIT-FORM-CONFIRMATION</key>
    <string>您确定您要提交这个表格吗?</string>
    <key>IDS_MSG_THANKS-FOR-FEEDBACK</key>
    <string>谢谢您的回应！</string>
    <key>IDS_MSG_THERE-ARE-NO-SEARCH-RESULTS-FOR</key>
    <string>查询不到匹配的结果 {0}</string>
    <key>IDS_MSG_TOUCH-ID-ENABLED-AFTER-LOGIN</key>
    <string>触摸ID启用登录后您可以访问您的iHerb帐户</string>
    <key>IDS_MSG_TRY-AGAIN_A</key>
    <string>再次尝试</string>
    <key>IDS_MSG_WE-DO-NOT-CARRY</key>
    <string>我们没有卖这个产品：{0}</string>
    <key>IDS_MSG_WISH-LIST-COPY-SUBTITLE</key>
    <string>您想要把该商品复制到哪个文件夹？</string>
    <key>IDS_MSG_WISH-LIST-EMPTY</key>
    <string>愿望清单目前是空的。</string>
    <key>IDS_MSG_WISH-LIST-MOVE-SUBTITLE</key>
    <string>您想要把此商品转到哪一个文件夹？</string>
    <key>IDS_MSG_WRITE-REVIEW-MUST-SHIPPED-ORDER</key>
    <string>您需要有已送货的订单才能撰写产品评论。</string>
    <key>IDS_MSG_WRITE-YOUR-REVIEW-HERE_A</key>
    <string>在这里撰写您的评论</string>
    <key>IDS_MSG_YOUR-REVIEW-WAS-DELETED</key>
    <string>您的评论已被删除。</string>
    <key>IDS_MSG_YOUR-REVIEW-WAS-SAVED</key>
    <string>您的评论已被保存。</string>
    <key>IDS_TTL_APPLIED-CODES</key>
    <string>使用码券</string>
    <key>IDS_TTL_APPLY-REWARDS-OR-PROMO-CODE</key>
    <string>使用新人优惠码或折扣码</string>
    <key>IDS_TTL_CHECKOUT</key>
    <string>结帐</string>
    <key>IDS_TTL_CUSTOMIZE-ICON_A</key>
    <string>自定义图标</string>
    <key>IDS_TTL_EDIT-FOLDER-NAME_A</key>
    <string>编辑文件夹名称</string>
    <key>IDS_TTL_EDIT-SAVED-SEARCH-NAME_A</key>
    <string>编辑已存搜索名称</string>
    <key>IDS_TTL_ERROR_A</key>
    <string>错误</string>
    <key>IDS_TTL_KOREAN-PCC</key>
    <string>韩国个人海关通关代码 (PCC)</string>
    <key>IDS_TTL_LOGIN</key>
    <string>登录</string>
    <key>IDS_TTL_NEW-BILLING-ADDRESS_A</key>
    <string>新的帐单地址</string>
    <key>IDS_TTL_NEW-FEATURE-DEMO_A</key>
    <string>新功能演示</string>
    <key>IDS_TTL_NEW-REWARDS-ADDRESS_A</key>
    <string>新的奖励地址</string>
    <key>IDS_TTL_NEW-SHIPPING-ADDRESS_A</key>
    <string>新的送货地址</string>
    <key>IDS_TTL_ORDER-ISSUES</key>
    <string>订单问题</string>
    <key>IDS_TTL_PROFILE</key>
    <string>简介</string>
    <key>IDS_TTL_SEARCH-TITLE_A</key>
    <string>搜索主题</string>
    <key>IDS_TTL_SELECT-FOLDER_A</key>
    <string>选择文件夹</string>
    <key>IDS_TTL_SELECT-HEALTH-TOPIC</key>
    <string>选择健康话题</string>
    <key>IDS_TTL_SELECT-ICON-IMAGE_A</key>
    <string>选择图标图像</string>
    <key>IDS_TTL_SELECT-ORDER-NUMBER</key>
    <string>选择订单号码</string>
    <key>IDS_TTL_SELECT-PRODUCT-CATEGORY_A</key>
    <string>选择产品类别</string>
    <key>IDS_TTL_SELECT-SAVED-SEARCH_A</key>
    <string>选择保存的搜索</string>
    <key>IDS_TTL_SHOPPING-CART</key>
    <string>购物车</string>
    <key>IDS_TXT_ACCESS-YOUR-SAVED-SEARCHES-MORE</key>
    <string>访问您的已存搜索，及更多</string>
    <key>IDS_TXT_AGREE_TERMS_POLICY_STATEMENT</key>
    <string>创建账户就代表您同意了我们的 &lt;a href="{0}" target="_blank"&gt;隐私政策&lt;/a&gt; 和 &lt;a href="{1}" target="_blank"&gt;使用条款&lt;/a&gt;</string>
    <key>IDS_TXT_AUTOENROLL_EARN-BACK</key>
    <string>立返10%积分</string>
    <key>IDS_TXT_AUTOENROLL_GET_PAID</key>
    <string>收获$5+5%</string>
    <key>IDS_TXT_AUTOENROLL_WITH-LOYALTY-CREDIT</key>
    <string>通过我们的忠诚奖励计划您每笔订单都有忠诚积分立返。</string>
    <key>IDS_TXT_AUTOENROLL_WITH-OUR-REFERRAL</key>
    <string>请通过我们的推广奖励计划推广新会员。</string>
    <key>IDS_TXT_BUY-THESE-TOGETHER</key>
    <string>以下的一起买</string>
    <key>IDS_TXT_CACHING-NOTES</key>
    <string>通过打开缓存，您依然可以在有限或无网连接的情况下浏览您最近访问过的页面。请注意查看缓存页面时，价格和其他信息可能已过时。</string>
    <key>IDS_TXT_CART-IS-EMPTY</key>
    <string>您的购物车是空的</string>
    <key>IDS_TXT_CASH-ON-DELIVERY</key>
    <string>包裹输送到您手上后收现金</string>
    <key>IDS_TXT_CLEAR-CACHE-CONFIRM</key>
    <string>您确认您要清除缓存吗?</string>
    <key>IDS_TXT_DELETE-COUPON-CODE-CONFIRMATION</key>
    <string>您确定想要删除该优惠码？</string>
    <key>IDS_TXT_DIGIT-CODE</key>
    <string>6位制验证码</string>
    <key>IDS_TXT_DIGIT-CODE-REQUIERED</key>
    <string>6位制验证码必填.</string>
    <key>IDS_TXT_EDIT-SAVED-SEARCH-NAME_A</key>
    <string>编辑这个已存搜索名称并点击保存。</string>
    <key>IDS_TXT_ENTER-FOLDER-NAME</key>
    <string>请输入清单名称</string>
    <key>IDS_TXT_EXPIRATION-DATE_S00</key>
    <string>过期日期与最好使用期的长度跟产品的种类和品牌有很大的关系。</string>
    <key>IDS_TXT_EXPIRATION-DATE_S01</key>
    <string>易变质商品（如亚麻油或某些益生菌产品）通常有较短的有效使用日期。尽管我们的仓库是全空调气温调控，但这些易变质商品还是被冷藏存储（冷冻或冷藏库），以保持最大的新鲜度。</string>
    <key>IDS_TXT_EXPIRATION-DATE_S02</key>
    <string>我们的进货部门会尽力的确认每一个商品的过期时间。不过，过期日的出入有的时候还是难免的。为了避免这类问题，我们的存货周转率在本行业甚至在各行业都是最高的。</string>
    <key>IDS_TXT_EXTERNAL-PAYMENT-NOT-COMPLETE</key>
    <string>很遗憾，我们尚未收到您通过{0}的支付。如果您已经通过{1}完成了支付，请给与2个小时左右的时间来更新到我们系统。如果2个小时后您的支付仍然存在问题，请再次尝试或者联系客服代表寻求帮助。
&lt;br /&gt;
&lt;br /&gt;
如果您的支付尚未通过{2}完成，您可以尝试点击下面的按钮来完成付款。</string>
    <key>IDS_TXT_FIND-OR-TRACK-YOUR-ORDERS</key>
    <string>查找或跟踪您的订单</string>
    <key>IDS_TXT_IMPORTANT-NOTE</key>
    <string>重要讯息</string>
    <key>IDS_TXT_ITEMS-FROM-PREVIOUS-SESSION</key>
    <string>您在之前的购物时段有留一些产品在您的购物车里。</string>
    <key>IDS_TXT_LANGUAGE-SETTINGS-ALERT</key>
    <string>请从iOS设置中选择所需要的语言</string>
    <key>IDS_TXT_LOGIN-TO-YOUR-ACCOUNT-TO</key>
    <string>登录您的帐户去:</string>
    <key>IDS_TXT_LOGIN-USING-TOUCH-ID</key>
    <string>您可以使用触摸ID登录。</string>
    <key>IDS_TXT_LOGIN_SHOP_TOP_BRANDS</key>
    <string>订单满40美金，全场3万5千多款知名天然健康产品，国际包邮。</string>
    <key>IDS_TXT_MANAGE-REWARDS-ADDRESS</key>
    <string>您可以通过登录以下链接管理您的积分地址 &lt;a class="{0}" href="{1}"&gt;Rewards site&lt;/a&gt;.</string>
    <key>IDS_TXT_MANAGE-YOUR-WISH-LIST</key>
    <string>管理您的意愿清单</string>
    <key>IDS_TXT_MODIFY-ORDER-ITEMS_A</key>
    <string>更改订单中商品的数量或者删除相关商品。</string>
    <key>IDS_TXT_MODIFY-ORDER-NOTE</key>
    <string>注意：更改订单会由于订单欺诈审查而导致订单延迟发货。</string>
    <key>IDS_TXT_MODIFY-SHIPPING-ADDRESS_A</key>
    <string>选择以下其中一个地址或添加新地址</string>
    <key>IDS_TXT_MODIFY-SHIPPING-METHOD_A</key>
    <string>选择以下其中一个运输选项</string>
    <key>IDS_TXT_NEW-BILLING-ADDRESS_A</key>
    <string>在下面添加一个新的帐单地址</string>
    <key>IDS_TXT_NEW-FEATURE-DEMO_A</key>
    <string>新版iHerb购物应用程序包含了多项新功能，希望可以提升您的购物体验。</string>
    <key>IDS_TXT_NEW-SHIPPING-ADDRESS_A</key>
    <string>在下面添加一个新的送货地址</string>
    <key>IDS_TXT_NO-ITEMS-IN-NOTIFY-LIST</key>
    <string>您的通知列表里没有产品。如果您要求了一个没货的产品的进货通知，那个产品应该会出现在通知列表里。</string>
    <key>IDS_TXT_NOTIFIED-WHEN-PRODUCT-AVAILABLE</key>
    <string>一旦产品到货，我们会马上通知您。</string>
    <key>IDS_TXT_NUMBER-DAYS</key>
    <string>{0}天</string>
    <key>IDS_TXT_NUMBER-OF-REVIEWS</key>
    <string>{0} 评价</string>
    <key>IDS_TXT_OR</key>
    <string>或者</string>
    <key>IDS_TXT_ORDER-ISSUE</key>
    <string>为了更有效的帮助您解决订单问题，请填写下面的表格。</string>
    <key>IDS_TXT_OTHER-DEVICE-EMAIL-MODIFIED</key>
    <string>您的邮箱已经更新。</string>
    <key>IDS_TXT_OTHER-DEVICE-ORDER-CANCELLED</key>
    <string>您的订单, {0}, 已被取消</string>
    <key>IDS_TXT_OTHER-DEVICE-ORDER-CONFIRMATION</key>
    <string>您的订单, {0}, 已提交</string>
    <key>IDS_TXT_OTHER-DEVICE-ORDER-MODIFIED</key>
    <string>您的订单, {0},已调整</string>
    <key>IDS_TXT_OTHER-DEVICE-PASSWORD-RESET</key>
    <string>您的密码已经重置。</string>
    <key>IDS_TXT_PAYMENT-METHOD-SUBTITLE_A</key>
    <string>浏览或编辑之前已存的支付方式</string>
    <key>IDS_TXT_PEOPLE-FOUND-REVIEW-HELFUL</key>
    <string>{0} 个顾客认为以下的评论有帮助</string>
    <key>IDS_TXT_PRODUCT-WEIGHT-KG</key>
    <string>{0} 公斤</string>
    <key>IDS_TXT_PRODUCT-WEIGHT-LBS</key>
    <string>{0} 磅</string>
    <key>IDS_TXT_PUSH-NOTIFICATIONS-EMAIL-UPDATE</key>
    <string>当您的登录邮箱在其他设备上被更新时您会收到提醒通知。</string>
    <key>IDS_TXT_PUSH-NOTIFICATIONS-IN-STOCK_A</key>
    <string>当您感兴趣的商品恢复库存时您会收到提醒。</string>
    <key>IDS_TXT_PUSH-NOTIFICATIONS-ORDER-CANCEL</key>
    <string>当订单在其他设备上被取消时您会收到提醒通知。</string>
    <key>IDS_TXT_PUSH-NOTIFICATIONS-ORDER-CONFIRM</key>
    <string>当有订单通过其他设备提交时您会收到通知提醒。</string>
    <key>IDS_TXT_PUSH-NOTIFICATIONS-ORDER-MODIF</key>
    <string>当订单在其他设备上被调整时您会收到提醒通知。</string>
    <key>IDS_TXT_PUSH-NOTIFICATIONS-PASS-RESET</key>
    <string>当您的密码在其他设备上被更改时您会收到提醒通知。</string>
    <key>IDS_TXT_PUSH-NOTIFICATIONS-SHIPPED-OUT_A</key>
    <string>当订单运出时您将会收到提醒。</string>
    <key>IDS_TXT_PUSH-NOTIFICATION_I</key>
    <string>请到您电话的设置功能 &gt; 未知源或安全&gt; iHerb, 并开启 "允许未知源"</string>
    <key>IDS_TXT_RESET-PASSWORD</key>
    <string>输入您的邮箱地址，我们将发送您一个可以创建新密码的链接。出于安全起见，所有信用卡信息在重置您的密码时，都将被从您的账户移除。</string>
    <key>IDS_TXT_RESET-PASSWORD-NOTE1</key>
    <string>由于密码重置链接是通过自动邮件发送，一些邮件服务商可能会把它放置在群发邮件或者垃圾邮件文件夹中，如果您没有找到这封邮件，请务必确认群发邮件或垃圾邮件文件夹。</string>
    <key>IDS_TXT_RESET-PASSWORD-SECURITY-HTML_A</key>
    <string>出于安全目的，一旦重置密码，&lt;font color="FF0000"&gt;所有信用卡信息将从您的账户中被移除。&lt;/font&gt;</string>
    <key>IDS_TXT_RESULTS-FOR_A</key>
    <string>{0}结果</string>
    <key>IDS_TXT_REVIEWED-ON-DATE_A</key>
    <string>已评论{0}</string>
    <key>IDS_TXT_REWARDS-ADDRESS-SUBTITLE_A</key>
    <string>添加或编辑您的地址以便奖励积分满300美金时接收支票</string>
    <key>IDS_TXT_SAVE</key>
    <string>节省</string>
    <key>IDS_TXT_SAVE-WHEN-BUY-TOGETHER</key>
    <string>节省 {0} 当您今天同时购买 {1} .</string>
    <key>IDS_TXT_SEARCH-TITLE_A</key>
    <string>为您的搜索添加一个名称以便您可以添加到您的iHerb主页.</string>
    <key>IDS_TXT_SEE-PRICE-IN-CART</key>
    <string>请到购物车里查看价格。</string>
    <key>IDS_TXT_SELECT-AND-CONTINUE-BELOW</key>
    <string>如果您觉得您的地址是正确的，您可以点选"选择后继续":</string>
    <key>IDS_TXT_SELECT-CACHE-SETTINGS_LENGTH</key>
    <string>选择下面的缓存长度.</string>
    <key>IDS_TXT_SELECT-HEALTH-TOPIC</key>
    <string>选择你想要使用的健康话题</string>
    <key>IDS_TXT_SELECT-ICON-IMAGE_A</key>
    <string>请选择您要使用的图像。</string>
    <key>IDS_TXT_SELECT-ORDER-NUMBER</key>
    <string>从以下列表中选择一个订单</string>
    <key>IDS_TXT_SELECT-PRODUCT-CATEGORY_A</key>
    <string>请选择您要使用的产品类别。</string>
    <key>IDS_TXT_SELECT-PRODUCT-FROM-YOUR-ORDER</key>
    <string>从您的订单中选择一件商品</string>
    <key>IDS_TXT_SELECT-SAVED-SEARCH_A</key>
    <string>选择您要使用的已保存搜索</string>
    <key>IDS_TXT_SEND-CODE</key>
    <string>发送代码</string>
    <key>IDS_TXT_SHARE-PRODUCT</key>
    <string>看看这个我在iHerb.com上发现的商品。</string>
    <key>IDS_TXT_SHARED-CART</key>
    <string>点击 "添加到购物车" 按键将以下被分享产品添加到您的购物车.稍后您也可以对您的购物车进行调整.</string>
    <key>IDS_TXT_SHIPPING-WEIGHT</key>
    <string>包裹的运输重量包括产品、保护性包装材料、和包裹的箱子。此外，一个包裹的运输重量有的时候会被调整为包裹箱子的体积重量（基于包裹的长宽高）。请注意，某些类型的产品（例如玻璃容器、液体、易碎、冷藏、或冰块包装）通常需要保护性包装材料，因此，这些类型的产品会反映出较高的运输重量。</string>
    <key>IDS_TXT_SIGN-IN-WITH-EMAIL</key>
    <string>如果您不记得您的账号密码，您可以使用邮箱登录。我们会邮件您一个代码，您可以在下一显屏中输入进行账户登录，无需密码。</string>
    <key>IDS_TXT_UPDATE-YOUR-PROFILE-INFO</key>
    <string>更新您的个人资料</string>
    <key>IDS_TXT_VERIFICATION-EMAIL-NOTICE</key>
    <string>邮箱更改后您会收到一封确认邮件。请按照指示完成更新进程。</string>
    <key>IDS_TXT_VIEW-YOUR-CUSTOMIZED-HOMEPAGE</key>
    <string>浏览您的自定义主页</string>
    <key>IDS_TXT_XE-CONVERSION-RATES_A</key>
    <string>近似转化率由XE.com提供 - 每日更新. 您的订单将要以美元方式进行.</string>
  </dict>
</plist>
